[2013-04-24 05:49] #359 closed, assigned to nobody

[2013-04-24 05:52] starwed commented on #375
This is basically fixed by the referenced commit.

[2013-04-24 05:52] #375 closed, assigned to nobody

[2013-04-24 05:58] starwed commented on #149
Closing as a dupe of #412.  (Clearer example code in that one.)

[2013-04-24 05:58] #149 closed, assigned to nobody

[2013-04-24 06:36] #360 closed, assigned to nobody

[2013-04-24 06:41] starwed commented on #400
This was fixed by 401, yes?

[2013-04-24 06:41] #400 closed, assigned to nobody

[2013-04-24 08:15] starwed commented on #417
I merged #420, so closing this issue for now.

[2013-04-24 08:15] #417 closed, assigned to nobody

[2013-04-24 11:28] sbyrnes321 commented on #371
Yes, this was definitely fixed by d2924be.

[2013-04-25 02:05] starwed commented on #363
This is caused by the"s[0..0]" component setting `_w` and `_h`.    (Look at the `init` method of the component created by Crafty.sprite.)  Setting the width and height on a "2D" component triggers a "Move" event.

The root problem here is that when `_w` and `_h` (or `_x` and `_y`) are set via `_attr()`, Crafty doesn't check whether they've actually changed before triggering a "Move" event.    I th

[2013-04-25 02:20] sbyrnes321 commented on #341
I improved the sprite documentation a while ago -- see 0e225069aa . The documented function signature is still a little misleading, but there is an example that specifically shows how to use the tileH parameter. So I think this issue can be closed.

[2013-04-25 02:25] starwed commented on #335
1. The tinted rectangle is drawn by a triggered "Draw" event; so are "Sprite" components.  The order the "Draw" events are bound in determines which ones on top.  I don't think this is a bug, exactly, since there might be reasons to want one or the other.
2. You're probably right that transparent would be a better default than black.  This should be an easy fix.
3. Same with "Color"; Crafty just d

[2013-04-25 02:32] starwed commented on #341
I'll leave it open for now, since the signature should really be fixed too.  (I specifically remember that confusing me!)

I assigned the bug to myself so I remember to get around to this, though if someone jumps in with a patch that works too.  :)

[2013-04-25 02:33] sbyrnes321 commented on #91
I think this issue is long settled and can be closed. The behavior preferred by @mpetrovic is now implemented and clearly documented, with a specific note describing Louis's complaint and how to work around it:

(from c233fff273)

[2013-04-25 02:45] starwed commented on #91
Looks like.  Closing as resolved.

[2013-04-25 02:45] #91 closed, assigned to nobody

[2013-04-25 02:52] starwed commented on #349
Possibly a good model would be jQuery's [`get()`](http://api.jquery.com/get/) method.  It returns an array of the actual DOM nodes; here, we could return an array of the actual components.   Calling `get` with an index could also be supported.

[2013-04-25 19:08] #335 closed, assigned to starwed

[2013-04-25 19:19] #341 closed, assigned to starwed

[2013-04-25 19:24] sbyrnes321 commented on #402
This is all set now that #403 is merged.

[2013-04-25 19:24] #402 closed, assigned to starwed

[2013-04-26 06:03] starwed commented on #413
The problem is that when setting the `font` property (which `textfont()` does) you can't set `font-family` or `font-size` separately; they must both be included.  This is mentioned [here](https://developer.mozilla.org/en-US/docs/CSS/font).  This is also the cause of bug #337, so I'll close this as a dupe of that.

[2013-04-26 06:07] #413 closed, assigned to nobody

[2013-04-26 06:09] starwed commented on #337
This is part of the CSS spec: you must set _both_ font-size and font-family when using `style.font` in this way.  Providing a default would be one fix; having the component set them individually would be another.   I'm leaning towards the second option.

_e:_ Oddly enough, you can't set them individually in canvas, so providing a default is the most sensible approach.

[2013-04-26 16:26] starwed commented on #175
Could someone who experiences this explain the issue?  The jsfiddle @sorenbs  linked to doesn't load right for me, and the google groups discussion is a bit vague.  (The last links that Anthony Brooks gave seem to be dead?)

[2013-04-26 17:24] sbyrnes321 commented on #175
I was looking into why that jsfiddle wasn't working. It seems that the collision component makes the draggable component not work! Is this a known issue? Simple case: http://jsfiddle.net/jLzJm/ On my firefox, you can only drag one of the two boxes.

[2013-04-26 18:03] starwed commented on #175
It looks like adding "Collision" is blocking other mouse events as well; Maybe the added collision polygon is getting them? ( [jsfiddle](http://jsfiddle.net/jLzJm/3/) )

  I'll open a new issue to investigate, since this seems separate from the rotation/collision issue.

[2013-04-26 18:05] starwed opened #448 ""Collision" component doesn't know when entity resizes"
Adding a collision component seems to prevent mouse events from being registered:

[jsfiddle example](http://jsfiddle.net/jLzJm/3/)

_e:_ Turns out this is because "Collision" doesn't know when an entity resizes.  I propose to make Collision match an objects dimensions until a different polygon is explicitly set.

[2013-04-26 22:36] starwed commented on #178
This is basically the same issue as [described here](https://groups.google.com/forum/#!topic/craftyjs/SIG1cJXWW1U/discussion), except with `__trim` instead of `__padding.`   That was fixed in #241.   I think this could be fixed in a parallel way, assuming that cropping should apply to all sprites.  If not it'll be a little bit more complicated, but still fairly straightforward.

Why do we have two

[2013-04-27 00:58] sbyrnes321 commented on #448
First, notice that the jsfiddle puts the collision box (`this.map`) at width=0 and length=0. That's because the collision component is added before the height and width are set. Then the connection to mouse is in the isAt function:

[code]

`mapArea` is defined when you use an `areaMap` from the `Mouse` component, while `map` is an analogous thing for the `Collision` component. I guess the assumpt

[2013-04-27 01:20] starwed commented on #448
Ah, I've run into that before in other contexts, didn't think about it here.

It's actually _really_ annoying that "Collision" doesn't naturally track the size of the object.  Maybe calling collision() could add a listener for "Change" events and track the width and height of the entity.  If ever that's overridden by handing explicit parameters to collision, it could remove the listener.  I think

[2013-05-01 00:40] starwed opened #451 "Reimplement hitbox.js"
The current design of hitbox.js is fairly flawed.  The visual hitboxes need to act more like regular objects, rendered by "Draw" events rather than through custom code that runs on "EnterFrame".

Having a special debug canvas might be a good way to unify this type of code; I needed to do something similar when I was debugging dirty rectangle code.

Misc features to add:
- Allow the color of the hi

[2013-05-01 02:01] starwed commented on #373
Closing as a dupe of #303

[2013-05-01 02:01] #373 closed, assigned to nobody

[2013-05-01 04:05] starwed commented on #414
I believe this will be fixed by #426. (grozens changes to SpriteAnimation).   The "Change" event needs to be triggered somehow; modifying this.x was doing this as a side effect.

[2013-05-01 05:40] benbarefield opened #452 "Stage offset not updated when non-crafty DOM changes"
Bad title, but I didn't know how to best summarize this problem.
The page that my game is on currently looks like this and I use Canvas for my game elements:

[code]

The topTimes ul gets filled with a name and a time in the format shown in the topTime-template. The styling in the top and second level divs is to center the game div and the top times div on the screen. This means that when the topT

[2013-05-01 23:59] benbarefield opened #453 "DOM vs. Canvas element height"
I'm not sure this would be considered a bug or not, but it isn't behavior I expected
I had a sprite sheet with two different height sprites (25 px and 75 px).
If I did something like this:

[code]

I would see both animations properly. When animation "One" was playing, it would grab a 25x25 pixel frame from the sprite sheet as expected. When animation "Two" is playing, it grabs a 25x75 pixel secti

[2013-05-02 00:21] benbarefield commented on #452
After diving into this a bit more, I'm thinking that there isn't a real solution to this and I just need to rework my page layout.
I'm going to leave this open in case anyone has more thoughts.

[2013-05-02 19:25] starwed commented on #452
Could you provide an html snippet that directly reproduces this issue, rather than just the template?  That would make it easier to see what's going on.

[2013-05-03 00:26] benbarefield commented on #452
Sure - sorry I didn't include this in the first go around, the #topTimes ul has to get filled in _after_ Crafty.init is called. Here is a fiddle:
http://jsfiddle.net/zyrtY/
You can see the problem by trying to click on the left side of the red button, and nothing happens. If you click to the right of the red button, you'll get the alert.

[2013-05-06 14:16] sbyrnes321 opened #456 "Unit tests reveal many problems with IE8 (or at least, IE10 in "IE8 mode")"
Well, I have Windows 7, so I can't install IE8. but I can use IE10 with browser mode set to IE8 mode. Maybe someone else will check this with the real IE8.

When I take the latest crafty with the latest "core.html" unit-tests, they pass in firefox, chrome, IE10, and "IE10 in IE9 mode". (Except for the SAT test at the bottom, which always fails, probably the test is out-of-date.)

But for "IE10 in

[2013-05-06 14:38] sbyrnes321 commented on #175
As discussed in #448, the collision box in the above examples is not reset (with .collision()) after the width and height of the component are set to nonzero values.

After taking that into account, here is code that works in firefox and IE10 with the latest crafty. It also works with the last crafty release 0.5.3 (so this is not revealing a problem fixed by #450):

[code]

It also works with IE10

[2013-05-06 15:01] mpetrovic commented on #456
if += doesn't work in IE8, that is a huuuuuge problem.

On Mon, May 6, 2013 at 10:16 AM, Steven Byrnes notifications@github.comwrote:

[2013-05-07 05:54] starwed commented on #175
Ok, closing.

[2013-05-07 05:54] #175 closed, assigned to nobody

[2013-05-09 07:03] Avvio opened #457 "Crafty.viewport.bounds being amended"
If you set your own custom bounds on the Crafty.viewport it's being changed on the original object every time _clamp is called, which in our case is whenever a 2d sprite moves because we are following it.

If the _clamp function is amended to read the same as below it would work.

[code]

This is a bit too verbose really, some sort of deep clone would look cleaner and avoid the original object bei

[2013-05-09 11:57] mpetrovic commented on #457
Why are you setting your own bounds?

On Thu, May 9, 2013 at 3:03 AM, Avvio Reply notifications@github.comwrote:

[2013-05-09 12:05] Avvio commented on #457
The function Crafty.map.boundaries() wasn't correctly calculating the size of our map. We're short on time so rather than try to work out why it was mis-calculating we decided to set the bounds. It's in the documentation and the code clearly shows that you're able to use it. Otherwise what's the point of the line below within _clamp:

[code]

[2013-05-09 12:08] Avvio commented on #457
Oh and we're using the isometric map.

[2013-05-10 23:00] zipang opened #460 "Crafty.sprite() is currently broken for DOM sprites created from spritesheets"
The culprit is the CSS rule `background-size: cover;` introduced in pull request 423.
(Note : _the bug is only present at the moment in branch master and release 0.5.3 is not affected_)
See my comment in the discussion : https://github.com/craftyjs/Crafty/pull/423

This technique could still be used on sprites created from a single image.

There is still a lot of dicussion on how to achieve this o

[2013-05-12 05:56] starwed commented on #453
I think this is kind of related to #423, isn't it?  In the current release, sprites don't scale for DOM elements, while on the canvas it does.

I think that if you specify a certain region of the sprite sheet as `MySprite`, associate it with an element, and then change the height of that element, the _correct_ thing to do is scale the sprite.  So the incorrect behavior is what happens to the DOM,

[2013-05-12 06:29] starwed commented on #390
The issue is that calling scale before any canvas entities have been created does nothing, and the canvas isn't created until a "Canvas" element exists.  You can confirm this by moving the call to scale in the jsfiddle until after the first element has been made.

So, the canvas is only created on demand, and `viewport.scale()` only sets the scale of the canvas if it exists.  I think the fix would

[2013-05-12 07:06] starwed commented on #386
There's already [an issue](https://github.com/craftyjs/craftyjs.com/issues/4) for this in the website's own repo.  No worries about reporting it here!

So, closing this one.

[2013-05-12 07:06] #386 closed, assigned to nobody

[2013-05-12 07:09] starwed commented on #378
Fixed by #450

[2013-05-12 07:09] #378 closed, assigned to nobody

[2013-05-12 07:18] starwed commented on #339
To be clear, if you use DOM entities it doesn't zoom at all!  Just the panning.

Amusingly, if you use Canvas it does zoom, but also pulls to the NW of the target point.  ([fiddle](http://jsfiddle.net/czeeA/22/))

[2013-05-12 07:57] benbarefield commented on #453
Could be related, I'm not sure, and you're probably right that the proper thing would be for it to scale. I was using this behavior, but there are ways around it.
I posted the bug mostly because it was inconsistent behavior.

[2013-05-14 19:22] starwed commented on #390
Should be fixed now.

[2013-05-14 19:22] #390 closed, assigned to nobody

[2013-05-14 19:28] starwed commented on #363
This should be fixed in develop now?  If anyone still sees this behavior, please reopen the issue!

[2013-05-14 19:38] starwed commented on #337
Ok, fixed by 459.

[2013-05-14 19:38] #337 closed, assigned to starwed

[2013-05-14 20:21] #363 closed, assigned to starwed

[2013-05-14 21:27] starwed commented on #453
Yeah, the inconsistent behavior is definitely a bug!  I'll use #460 to track this issue, and close this one.

[2013-05-14 21:27] #453 closed, assigned to nobody

[2013-05-14 21:29] starwed commented on #460
Ok, when we merge master and develop again, we'll just leave out the change that caused the breakage.  Lets use this issue to track fixing the fundamental problem -- different scaling behavior for DOM and Canvas sprites.

[2013-05-18 17:22] eldad87 commented on #440
Hi,
I really want to see your project production ready so please let me know if I can help you develop it.

thanks!

[2013-05-18 19:49] starwed commented on #433
Ok:
- I merged most of them
- Per the regression noted in #460 I didn't include the changes to sprite scaling  (fe1460ff3f7d9f2a5290b09ca4c3c83dbd015ed7)
- Due to conflicts and my own concerns, it doesn't include the changes to the dirty rectangle merge algorithm: (9f8d25ead8049d840564d5abb5d943a5df9687cb  a3cc79b71964354e2a4e33024b411dbc05fd4f7f)
  - From looking over the code, the `delete_indice

[2013-05-18 19:52] #433 closed, assigned to nobody

[2013-05-18 20:08] starwed opened #467 "Investigate alternate dirty rectangle merging"
In #427,  @statico and @mlogan proposed an alternate merge strategy for dirty rectangles.  This was to resolve a particular bug with alpha sprites; however, that bug is now fixed due to broader changes in how we handle dirty rectangles.

Their algorithm was also faster than the merge Crafty used at the time; however, that was due to some inefficient copying of arrays rather than the actual algorit

[2013-05-18 21:15] starwed commented on #303
Is this fixed by #373 and #387?

[2013-05-19 13:02] nmfm commented on #460
I think this is also present on 0.5.3

[2013-05-19 16:41] starwed commented on #460
@nmfm 0.5.3 is the currently released version that's been out for about half a year.  I haven't heard any reports of sprites being broken; are you sure you're looking at this issue on 0.5.3?

[2013-05-21 13:19] sbyrnes321 opened #475 "PHP warnings while running build-api.php"
Whenever I run build-api.php, I get the following notification:

"PHP Notice:  Undefined offset: 1 in /home/.../build/build-api.php on line 61"

The same message is printed ~40 times consecutively.

But the overall operation seems successful, insofar as I wind up with documentation that looks OK. Can the warning be ignored? Or is it a sign of a problem?

(I have no experience with PHP, so I can't

[2013-05-21 16:57] starwed commented on #475
Hmm, I do not see any errors on a Mac running 10.6.

The PHP version is `PHP 5.3.15 (cli) (built: Jul 31 2012 18:42:11)`

I likewise have no experience with PHP.

[2013-05-21 17:42] sbyrnes321 commented on #475
OK, I was using `PHP 5.4.6-1ubuntu1.2 (cli) (built: Mar 11 2013 14:57:54)`. It does seem like there were [changes in the defaults for giving notices and warnings](http://us3.php.net/manual/en/migration54.incompatible.php) between php5.3 and php5.4.

So I guess that this is probably not a "real" problem -- just a change in php to be more vocal with warnings. But still, we should wait for a php expe

[2013-05-27 20:43] bojank opened #476 "HashMap boundries returning wrong coords"
HashMap boundries returning wrong coords

the tile map below is a square but the follow function works funky when x ~> 600px
# i looked into it and it seems as the hashmap boundries was returning the wrong coords

Crafty.init(600, 600);

for(var xxx = 0; xxx < 20; xxx++){
    for(var yyy = 0; yyy < 20; yyy++){
        Crafty.e("2D, DOM, Color")
            .color('rgb('+xxx_10+','+yyy_10+',0)')

[2013-05-27 20:52] bojank commented on #476
[code]

CHANGE TO

[code]

[2013-05-27 22:52] starwed commented on #476
Thanks, but this is already fixed in develop.

[2013-05-27 22:52] #476 closed, assigned to nobody

[2013-05-29 02:01] phosphoer opened #478 "Event for end of frame"
I'm implementing basic collision resolution for aligned boxes, and have run into the following problem:

My object applies its movement vector to its position on the `EnterFrame` event. It responds to the `onHit` message from the `Collision` component to perform collision resolution. Unfortunately, it seems that `EnterFrame` occurs after the collision message is sent, so the collision is resolved,

[2013-06-01 18:15] starwed commented on #478
I've been thinking about adding something like this; things like `PostFrame` and `PreDraw` events might be useful.  Adding more hooks and timing info into the main game loop would probably be a good thing.

Careful with this; the number of "EnterFrame" events per "Draw" is not necessarily constant.  Also,  you can absolutely resolve collision events as they occur without getting any overlaps.  A p

[2013-06-02 23:10] starwed opened #482 ""Change" event overused and overloaded"
Every time you use `attr()`, a change event is triggered.  It is handed a map of property names and their new values.

When you assign any of the 2D properties (x, y, w, h, rotation) a change event is also triggered.  In this case, it is handed an object representing the object's _previous_ state.

If you use `attr` to set a 2D property, both will be triggered.

There are two places in Crafty that

[2013-06-03 10:44] mucaho commented on #440
Hi

The base goal is accomplished (logical communication between entities on server and clients).
The pong example works fine on localhost. I hosted the pong example on a node server with xhr polling. Without handling the latency appropriately and introducing seperate game loops, the game is unplayable (see next paragraph).

The next level would be to further adjust input components, to introduce

[2013-06-03 18:17] starwed commented on #448
I have a mostly working implementation of a responsive collision hitbox; it required adding a "Resize" event when h or w changes.

There's a couple of bugs I need to work out (rotations complicate things) but I wanted to give a heads up that I was working on this.

[2013-06-03 18:18] starwed commented on #348
I have this fixed in a reworking of the audio code; I need to finish testing it properly, but wanted to give a heads up that I was working on this.

[2013-06-05 05:47] kevzettler commented on #475
This gives more incentive for #472 getting any PHP dependency out and keeping the code base all Javascript seems like a win.

[2013-06-05 18:22] starwed commented on #414
Should be fixed by #426

[2013-06-05 18:22] #414 closed, assigned to starwed

[2013-06-05 18:22] starwed commented on #228
Should be fixed by #426

[2013-06-05 18:22] #228 closed, assigned to nobody

[2013-06-05 23:25] starwed commented on #336
I'm pretty sure this is fixed by  #426, so closing.

[2013-06-05 23:25] #336 closed, assigned to nobody

[2013-06-11 19:27] starwed commented on #451
Fixed by #484

[2013-06-11 19:27] #451 closed, assigned to nobody

[2013-06-11 19:28] starwed commented on #448
Fixed by #485

[2013-06-11 19:28] #448 closed, assigned to starwed

[2013-06-12 04:04] starwed opened #488 "Issue with _cascade and rotated MBRs when resizing entities"
After I landed my resize patch #485, I realised there's a problematic interaction with cascade.

If a rotated entity's dimensions are changed, that can change the (x,y) of the MBR.  But this probably _shouldn't_ mean that any attached entities should shift along with the MBR, like _cascade seems to think.  That should only happen on an actual move.

More generally it would be nice if _cascade didn

[2013-06-12 12:01] mpetrovic commented on #488
No, it should. cascade is for grouping entities together so they behave as
one. Any attached entities should rotate around the parent's center. We may
need to have a separate method for rotating just the parent, but if that's
what you're trying to do, you're probably thinking about attachment the
wrong way.

On Wed, Jun 12, 2013 at 12:04 AM, starwed notifications@github.com wrote:

[2013-06-12 13:29] starwed commented on #488
Hmm, I disagree.  There are three ways the position of the MBR changes: translation, rotation, and scaling.  Currently, if I rotate an object and then increase its height, that can move the MBR to the left.  I don't think attached entities should move in that scenario.

Note that there was a bug in how MBRs were recalculated for resized, rotated objects; this wasn't an issue until that bug was fix

[2013-06-14 19:38] starwed commented on #348
Fixed by #487

[2013-06-14 19:38] #348 closed, assigned to starwed

[2013-06-16 22:50] mucaho commented on #440
Just a quick update: [BNG Article: Real Time Multiplayer in HTML 5](http://buildnewgames.com/real-time-multiplayer/)

I have skimmed through the article, he has essentially using the above mentioned techniques for handling latency. It would just be a matter of translating his code into crafty components, right? :)

I still have to figure out if/how he has made the seperate update loops. Javascript

[2013-06-17 08:24] eldad87 commented on #440
Sorry, but I switched to isogenicengine.com

thanks anyway.

[2013-06-17 13:16] jumpcoder commented on #412
the entity named "other" maybe has some problem ,because the .init() of Collision has be called before .attr({x:8, y:8}), Accoding to the document "You must ensure that the x, y, w, h properties are set before the init function is called. "

[2013-06-17 15:54] starwed commented on #412
@jumpcoder  This is a somewhat separate issue.  When doing collision detection, Crafty does a first pass broad search where it finds entities that are near the entity you're testing.  Then it tests for collisions using a more exact method.

But since it uses an object's MBR for the broad pass, making the collision hitbox larger than the MBR will mess things up.

(Unrelated to this bug, the issue y

[2013-06-19 13:45] pencilking2002 commented on #440
Any news on this yet? I really like crafty and would love to stick to it for multiplayer and node js!

[2013-06-20 09:00] EntropyFails commented on #460
I have had this problem on v0.5.3. I've had to comment out the line in order to get sprite() to work with spritesheets.

[2013-06-20 18:06] starwed commented on #460
@EntropyFails  What line?  The change discussed here was not in 0.5.3.

Also, 0.5.4 is the current version now.

[2013-06-21 07:53] zipang commented on #460
Well i think that EntropyFails like me did try to use the code in the master branch.
I knew that there had been a 0.5.4 release downloadable from http://craftyjs.com/ and i had a hard time this morning trying to find it in the master branch (untill i noticed the 'release' branch)
The bug still lies inside the master branch. It's very confusing.

https://github.com/cawoodm/Crafty/commit/fe1460ff3f7

[2013-06-25 19:32] mccutcheonk opened #494 "CSS line-height property cannot be set for entities with Text component"
As of v0.5.4, setting the CSS `line-height` (or `lineHeight`) property has no effect for DOM entities with the Text component. The value of the line-height property is clobbered when the style's font is set in the Draw callback of the Text component (src/text.js:47).

According to [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/font), line-height is a component of the font property. When th

[2013-06-26 03:15] starwed commented on #334
Should be fixed now by #495, but I have never used the iso stuff myself.

[2013-06-26 03:16] #334 closed, assigned to nobody

[2013-06-26 20:57] starwed commented on #303
I don't see this in either of the fiddles offered.  I'm going to assume this is fixed.

[2013-06-26 21:00] starwed commented on #415
I don't see the claimed code on the linked page.  I'm going to close this for now, but reopen if I'm misunderstanding!  :)

[2013-06-26 21:00] #415 closed, assigned to nobody

[2013-06-26 21:02] starwed commented on #346
Is this present in Android 2.3.3 on?  According to google's [dashboard](http://developer.android.com/about/dashboards/index.html) we probably don't need to worry about prior versions, but about 1/3 of users are still on 2.3.3-2.3.7.

[2013-06-26 21:06] starwed commented on #304
A [function](http://craftyjs.com/api/Text.html#-unselectable) to make text unselectable was added.  A developer would still have to manually call it, though.

Not sure if this bug should be closed, or if the "Draggable" component should automatically take care of this.

[2013-06-26 21:10] starwed commented on #286
This is mostly taken care of -- there's a bug open for the css in the site's own tracker.

And while we should always look for ways to improve docs, we don't need a blanket bug for that.  :)

[2013-06-26 21:10] #286 closed, assigned to nobody

[2013-06-27 07:52] mkalam-alami commented on #304
Nice addition :)

Now even though it doesn't affect the bug itself (being that Draggable gets glitchy on FF when combined with text selection), things seem much better on Firefox 20:

http://jsfiddle.net/L5SS8/

It must have been a Firefox issue, so I guess we can close this.

[2013-06-27 07:52] #304 closed, assigned to nobody

[2013-06-28 01:51] kcaze opened #498 "Text component for Canvas element doesn't redraw correctly without a width or height"
When I have an entity with a Sprite component, then calling text() fails to update any Canvas entities with Text components (DOM seems to work fine).

Here's a fiddle illustrating the problem: http://jsfiddle.net/kcaze/x8t2B/1/

[2013-06-28 04:05] starwed commented on #498
Ah, I think the issue is actually that the text entity isn't redrawn correctly without a height or width.

When it is the only element, a full redraw is done, so the text changes correctly.  When you add another canvas  element (it doesn't matter what type!) a partial redraw is done instead.  Because the text entity lacks dimensions, it is skipped during this process -- and that's the bug.

I'll w

[2013-06-28 21:24] kcaze commented on #498
As a workaround, in the text() function, I obtain the canvas's context with Crafty.canvas.context and then set the width using that. The height is simply the font size.

Another thing I've noticed is that the draw() method for the text draws the text at (obj._x, obj._y + obj._h). I don't quite understand why the text would be drawn at the y position plus the height, rather than simply at the y pos

[2013-07-04 19:37] mauricesvay opened #502 "Preloading sounds doesn't work"
It seems that preloading sounds doesn't work :
- Preloader requires Crafty.support.audio and Crafty.audio.supported[ext] to be true to load a sound
- Crafty.audio.supported is populated by Crafty.audio.canPlay
- Crafty.audio.canPlay is only called by Crafty.audio.add

From what I understand, sounds can not be preloaded unless Crafty.audio.add is called once.
Let me know if I missed something.

[2013-07-04 19:45] mauricesvay commented on #502
I'm using Crafty 0.5.4 for reference.

[2013-07-04 19:52] starwed commented on #502
You're totally right!  Luckily, this should already be fixed in the current develop branch.  (By #487)

A work around in 0.5.4 is to call `Crafty.audio.canPlay()` before loading sounds.

[2013-07-06 01:03] sbyrnes321 opened #504 "Bug due to the fact that this._mbr uses x sometimes and _x other times"
I have a bug where I can create an element where `this._mbr` has the properties `_x`, `_y`, `_w`, `_h`. But then it's used in `isAt`, which expects `x`,`y`,`w`,`h` (no underscores). This is a problem! Mouse events on this element do not get detected.

So far I can't reproduce this in a simple code snippet, nor can I give a more specific chain-of-events that causes this. It happens in my complicate

[2013-07-06 01:09] starwed commented on #504
If tthe entity isn't rotated, _mbr will be null, and so it will use the object itself instead of _mbr.

This is fallout from when I tried to fix the issue of the object's _mbr being ignored by some of these functions.  I forgot to change it from `.x` to `._x`.  (The latter is faster even when an MBR isn't present, so another reason to change this.)  At least it's a really easy issue to fix.  :)

[2013-07-07 19:52] #502 closed, assigned to nobody

[2013-07-07 20:10] starwed commented on #482
I propose using an event called `"Invalidate"` to mark when an object needs to be redrawn.  That (somewhat) matches the same concept in Flash and Android environments.  It wouldn't be passed any data -- the object itself will contain all information necessary to draw itself.

`"Change"` could then be used to indicate that some property of the entity had changed.  It could be triggered by anything

[2013-07-07 20:37] starwed commented on #488
Should now be fixed.

[2013-07-07 20:37] #488 closed, assigned to nobody

[2013-07-08 14:56] #504 closed, assigned to nobody

[2013-07-09 22:09] starwed commented on #384
I can't reproduce this issue, so closing.  Feel free to reopen if it is still an issue in the current version of Crafty!

[2013-07-09 22:09] #384 closed, assigned to nobody

[2013-07-09 22:10] starwed commented on #345
Fixed.

[2013-07-09 22:10] #345 closed, assigned to starwed

[2013-07-10 07:14] starwed commented on #460
@zipang Some commits were accidentally accepted into master that should have landed in develop; one of them caused this bug.  We'll probably eventually want to just delete the branch named master to avoid confusion.

Anyway, the root problem of sprites not scaling should be fixed by #507, in a way that _hopefully_ doesn't break anything else.  :)

[2013-07-10 07:14] #460 closed, assigned to nobody

[2013-07-12 17:59] starwed commented on #393
Copied to the craftyjs.github.com repo.

[2013-07-12 17:59] #393 closed, assigned to nobody

[2013-07-12 18:02] starwed commented on #392
Copied the markdown file [into the wiki](https://github.com/craftyjs/Crafty/wiki/Repositories-Explained).

[2013-07-12 18:02] #392 closed, assigned to nobody

[2013-07-13 12:01] grozen commented on #482
Sounds like a most blessed fix.

[2013-07-14 12:39] grozen commented on #147
I am so on this.

[2013-07-14 16:45] starwed commented on #147
This isn't really configured as a Crafty event in the first place -- and that would probably be the best way to fix it.

Currently `onHit` sets up a function that, on each "EnterFrame"  watches for hit events, and uses the callbacks when the hit state changes.  Each call to `onHit` sets up a new watcher.

If the watcher instead triggered  "OnHit" and "OnHitOff" events (or whatever it makes sense t

[2013-07-14 18:13] grozen commented on #147
That actually sounds considerably better than what I had in mind (consolidate all the individual callbacks, and call them as a unit).

Not very backwards compatible, but you know that I favor improvement over preservation. I do believe your solution would also fix this bug (all registered handlers will be called once the collision takes place, regardless of what side effects they cause).

However,

[2013-07-17 13:10] #475 closed, assigned to nobody

[2013-07-20 04:56] edgars-vasiljevs commented on #494
I had the same problem and I found a workaround for this bug without any changes to the framework.

[code]

This sets `font-size` to `14px` and `line-height` to `1.3`

I hope this will help.

[2013-07-28 01:27] kevinsimper opened #517 "Only using Grunt for building?"
Wouldn't it be a good idea only using Grunt for the build process? Right now the files are manuelly written in the build-crafty.php, but imported automatic in the grunt build process from package.json

[2013-07-28 15:57] starwed commented on #517
I don't want to remove the php builder yet -- it works, and if you have php installed I think they have less dependencies.  I'd also like someone to confirm that the grunt process works on windows.

But yeah, in the future I'd hope to kick the php process out.

[2013-08-08 12:02] ericathegreat commented on #517
FYI, I'm running on Windows and Grunt seems to work fine for me. It's also less involved than getting PHP installed and running.

[2013-08-08 23:02] loicknuchel opened #524 "Some broken things (bad link in README)"
Hi,

I'm just started looking at Crafty and I found some broken things...
They are really small things (and don't impact quality of Crafty engine) but they are not really convenient when someone (like me) just jumped into Crafty learning.

InREADME, the getting started link is broken (http://craftyjs.com/tutorial/bananabomber/create-a-game).

In rpg demo, I have an error on line 33 (https://github

[2013-08-09 08:35] starwed commented on #524
Thanks for reporting the broken link!

The second issue is caused by mixing branches.  You are attempting to run the demos from the `develop` branch with the 0.5.4 release version of Crafty.  There were changes to "SpriteAnimation" which were not backwards compatible.  If you run those demos with the most recent version of Crafty, they should work; alternatively, the demos in the release branch sh

[2013-08-09 10:11] loicknuchel commented on #524
Thanks for your quick response and explanation.
It's a little bit weired to have the develop branch as default in github (noobs like me will make mistakes...) but that's ok.

[2013-08-09 10:11] #524 closed, assigned to nobody

[2013-08-15 15:25] starwed commented on #303
This is still an issue for touch events; needs basically the same fix as for mouse events.

[2013-08-17 15:58] kevinsimper opened #529 "Hosting craftycomponents.com"
What to do with craftycomponents.com?

[2013-08-17 16:10] potomak commented on #529
If http://craftyjs.com is out of date then what about http://craftycomponents.com ?

[2013-08-17 17:02] starwed commented on #529
Regarding _craftyjs.com_: That's the one hosted on github, corresponding to [the craftyjs.github.com repo](https://github.com/craftyjs/craftyjs.github.com).  I don't see any recent issues/comments, so how is it out of date?  (I don't have the permissions to accept stuff into that repo, but @louisstow  has done that when it was time for a release.)

Regarding _craftycomponents.com_: I have no idea

[2013-08-17 17:11] sbyrnes321 commented on #529
About craftycomponents: See previous discussion -- https://groups.google.com/d/msg/craftyjs/VWmegaSP7B4/aAZYV3A6hbcJ

[2013-08-17 17:28] starwed commented on #529
@ahilles107 seems to be his github tag, so hopefully he'll now get notified about this issue?  :)

[2013-08-17 17:55] ahilles107 commented on #529
Hey, http://craftycomponents.com/ looks bad now because twitter bootstrap cdn for 1.4 is gone, i don't have now a lot of time for crafty, if you wan't take http://craftycomponents.com to your server then just just email me.

[2013-08-17 18:39] kevinsimper commented on #529
I got confused with this repo https://github.com/craftyjs/craftyjs.com

There is game at the bottom which gives 404, and the link to the minified version gives also a 404, but i have created a issue there.

[2013-08-17 18:47] starwed commented on #529
Probably worth figuring out if craftycomponents needs to be a dynamic site, or whether we can host it on github along with craftyjs.com.  (I went ahead and repurposed & reopened this issue)

@ahilles107 Does the [craftycomponents repo](https://github.com/craftyjs/CraftyComponents) reflect what was actually on the site?  (And thanks for hosting it so far!)

[2013-08-22 10:24] thehack opened #530 "Broken link on the Readme.md"
http://craftyengine.com/tutorial/bananabomber/create-a-game

[2013-08-26 05:44] wgmyers opened #531 "Crafty.load requires at least one image"
Crafty.load() - in 0.5.4 at least - requires at least one image in order to work. It should not do so.

The following code snippet (in a 'Loading' scene) works:

[code]

It even works if null.gif is a 0 byte file. The following does not:

[code]

:(

Workaround - if you want to load audio and have no images to load, make a dummy image file and 'load' that first.

[2013-08-26 06:10] starwed commented on #531
This should already be fixed in the development branch: can you double check in [one of the testing releases](https://github.com/craftyjs/Crafty/releases)?

[2013-08-26 06:24] wgmyers commented on #531
Honestly? I will gladly do so when Ludum Dare is over. Been using crafty.js 0.5.4 - it's great, really easy to learn and use and thank you so much for it - but at the same time I really don't want to mess about with 0.6 right now in case anything else breaks. For now I just want to get my game halfway decent and working and upload it and go to bed already :) It has been a ridiculously long night a

[2013-08-26 09:01] kevinsimper commented on #529
@starwed It could be hosted at Github, but the dynamic stored made with Firebase.io. It could also be Parse.com.

I have written to Louis and asked if i can help with crafty.github.com :-)

[2013-08-28 09:21] kevinsimper opened #532 "Buildsteps for api documentation with Grunt"
What are the buildsteps for the `grunt api` command?

I know that you have to have installed grunt-cli:
Then you can do:
`npm install´
to get all the grunt tasks installed.

Then you need to compile the coffee-script file to js.

Then when you try running the command `grunt api` you get a lot of errors like these:
{ [Error: ENOENT, open 'build/api/Crafty-e.html'] errno: 34, code: 'ENOENT', path: '

[2013-08-28 12:17] kevinsimper commented on #529
I have written to achilles107 about the domain, I will try to get the website up and running again!

[2013-08-28 13:09] sbyrnes321 commented on #532
Compiling the coffee-script file is not a separate step. If I understand correctly, grunt sees that the extension is .coffee and automatically interprets it as a coffee-script file.

Try deleting your compiled file (`api-gen.js` or whatever you called it) and then try `grunt api` again. Does it help?

[2013-08-28 13:42] kevinsimper commented on #532
I found the error.

It was because the folder /build/api/ did not exists, so when i created it all was fine.

How can that be avoided?

[2013-08-28 14:47] sbyrnes321 commented on #532
You're right! That's a bug. Pull request #533 fixes it on my computer

[2013-08-28 21:11] kevinsimper commented on #532
Cool, that was nice solved.

[2013-08-28 21:11] #532 closed, assigned to nobody

[2013-08-29 17:57] kevinsimper opened #534 "Make the documentation follow the common template"
Instead of applying the template, just inserting this instead:

[code]

This will make the craftyjs.com website easier to maintain, since one edit in the template will reflect the whole website, and not like now were the API documentation is very static.

[2013-08-30 09:32] kevinsimper commented on #530
Fixed

[2013-08-30 09:32] #530 closed, assigned to nobody

[2013-08-31 00:43] kevinsimper commented on #531
@wgmyers Have you have time to test it yet?

[2013-08-31 00:45] kevinsimper commented on #529
@ahilles107 Hi, have you been busy? :)

[2013-08-31 16:38] starwed commented on #531
I'm going to go ahead and close this -- the bug should be fixed, I just wanted to make sure wgmyers hadn't run into a different issue somehow.

[2013-08-31 16:38] #531 closed, assigned to nobody

[2013-08-31 16:41] starwed commented on #534
I might be confused, but I think this removes the ability to build the docs locally.

Can we hook grunt up to a jekyl processor, so that it also performs that step of generating the documentation?

[2013-08-31 18:57] kevinsimper commented on #534
I can see what you mean.

It is not possible to do with Github Pages, sadly. Then we have to move the website to a other host.

I think the best solution would be to create two different grunt process, one for local api documentation and one for the craftyjs.com website.

[2013-09-04 08:52] kevinsimper opened #539 "JSHint on Crafty"
If you run the `grunt check`, the JSHint tool is also run on Crafty.js, but returns a lot of errors.

Is it something that should be enforced?

There is around 200 errors right now.

[2013-09-04 11:11] kevinsimper opened #540 "Add Travis-ci for continuous integration"
The repo owner needs to enable Travis-ci integration.

[2013-09-04 11:24] kevinsimper commented on #540
![screen shot 2013-09-04 at 13 22 44](https://f.cloud.github.com/assets/1126497/1079874/60aed036-1554-11e3-9a79-c782bd8d9d47.png)

Somebody with admin access has to go to travis-ci.org and activate the service, before it will work.

@louisstow, can you do that? :-)

[2013-09-04 15:33] sbyrnes321 commented on #539
"Enforced" is unnecessary (and makes newcomers have to jump through more hoops). But it's useful as a list of things that ought to be fixed when someone gets around to it. Things like inserting missing semicolons and rationalized whitespace would be nice (there is a [style guide](https://github.com/craftyjs/Crafty/wiki/Style-Guide) that has long been ignored).

I think I'll fix the jshint errors i

[2013-09-04 22:18] kevinsimper commented on #539
Okay, yes, that sound like the right way :)

[2013-09-05 10:00] steffmeister opened #541 "Animation End Event does not return correct reelID"
Hi,

I think there's an error in the updateSprite function of SpriteAnimation. In line 7304 it says:

[code]

which would return eg {"reel":[[0,128],[32,128],[64,128],[96,128]]}

but shouldn't it be

[code]

or likewise to return the correct reel Id eg "PlayerRunning"?

I have some working code (some kind of project where I am experiencing this problem) if needed.

[2013-09-05 17:07] starwed commented on #541
I think you are looking at the last release.  SpriteAnimation was refactored significantly in the develop branch, so this issue is likely moot?

[2013-09-06 05:34] steffmeister commented on #541
Yes you are right. Sorry. This issue can be closed.

[2013-09-07 08:16] #541 closed, assigned to nobody

[2013-09-14 17:06] starwed opened #548 "In some circumstances, canvas not being cleared properly"
As [reported by sulter](https://mail.google.com/mail/u/0/?shva=1#inbox/1410d711a25eace4) in the forum.

[This fiddle](http://jsfiddle.net/UmEn4/1/) reproduces the bug for me in both Firefox and Chrome.

Probably expanding the cleared area by a pixel in each direction would fix this, but I'd like to understand _why_ it's happening.

[2013-09-14 17:36] starwed commented on #548
After looking through the drawing code, I notice that the coordinates of dirty areas are converted to integers when regions overlap, but aren't in other cases.  This would explain why the behavior appears when the entity moves quickly -- when moving slowly, the old and new position would overlap, but when moving quickly they are disjoint.

_e:_ Yes, coercing all coordinates to integers seems to wo

[2013-09-14 20:43] starwed commented on #548
I think the solution will be to "round up" the dirty areas at the point that we render that region.  Currently there's some duplication of effort when areas get merged, and it's a bit messy to catch every case.  Far simpler to only round right before the point where it matters.

[2013-09-15 13:30] potomak commented on #529
Any news about this issue?
@ahilles107 are you going to give access to https://github.com/craftyjs/CraftyComponents to @kevinsimper?
Can I help in any way?

See also https://groups.google.com/d/topic/craftyjs/fPAjmPel-aE/discussion

[2013-09-15 17:57] kevinsimper commented on #529
@potomak I have tried getting in touch with him but without luck.

We should find out something new, Craftycomponents is also rather long :-)

[2013-09-15 23:35] Sulter commented on #548
Thanks for taking it up starwed. I realized myself that the issue was trying to set the x and y to float points. For some reason I just assumed that would be handled by the engine.
I think it would be reasonable to just warn the users in the API, like it's done with the rotation. At least for now.

[2013-09-16 06:56] UltCombo commented on #330
Scaling is already implemented through `Crafty.viewport.scale()`. +1 for `imageSmoothingEnabled`, other game abstraction libraries have it and it is really useful for pixel art games.

[2013-09-16 08:17] potomak commented on #529
I think http://components.craftyjs.com would be fine.

Now we only need access to the repo, we could create a static github page using the `gh-pages` branch.

TODO:
- [ ] set CNAME components.crafty.com, see https://help.github.com/articles/setting-up-a-custom-domain-with-pages
- [ ] give access to https://github.com/craftyjs/CraftyComponents to @kevinsimper (and me if you want help)
- [ ] set up

[2013-09-16 09:03] kevinsimper commented on #529
@potomak They way it is made now, there has be to a server, but Nodejitsu gives free server hosting to open source projects, so that would be great.

They way it works now is that whoever makes a component and want to share it, puts a speciel url into the post-hook field on github, so that the components website is let now that there is a new version. So gh-pages would not work.

[2013-09-16 09:13] potomak commented on #529
Ok, sorry I didn't know about the dynamic nature of craftycomponents.com.

There are two options:
1. ask Nodejitsu for free hosting due to the open source nature of the project
2. set it up as a static site

I think that the first option is less time consuming since the project is already done.

[2013-09-16 09:45] potomak commented on #529
@kevinsimper it's a Symfony app, Nodejitsu hosts Node.js apps.

[2013-09-16 12:08] ahilles107 commented on #529
@potomak -  https://github.com/craftyjs/CraftyComponents is in craftyjs organization - so everyone from organization have access there.

If you want then i can change dns on domain, and later transfer it for someone else.

[2013-09-16 12:35] potomak commented on #529
@ahilles107 I'm not an organization member right now, I hope I will.

I'll work on my fork asap to let it work as a node.js app (javascript even for server side for a javascript framework is the right choice in my opinion).

Thanks for your response anyway.

[2013-09-16 12:53] kevinsimper commented on #529
@potomak I would also think a Node.js app would be the best choice. That would make it easier to contribute to if you already know javascript.
Then Nodejitsu is also the obivious choice because of the free hosting.

[2013-09-16 13:04] potomak commented on #529
I totally agree @kevinsimper

[2013-09-18 13:38] potomak opened #549 "Sprites visualization error on IE9"
I'm rendering a 2D component but it doesn't show in IE9.

The component is named `Monster3D`, this is the source code:

[code]

The `Actor3D` component is a custom component composed by `Canvas` and `3D`, the latest is a simple custom component to render canvas components in a 3D space.

[code]

I put 3x5 `Monster3D` components by running:

[code]

At http://popinator.fungostudios.com/error/ there

[2013-09-21 20:47] starwed commented on #548
It certainly _should_ be handled by the engine!  :)  I'll try to land a fix for this tomorrow -- it's not very complicated, but I've had a vicious cold all week.

[2013-09-23 19:27] starwed commented on #549
Hmm, it's impossible for me to really test this, since I have no devices which run IE.

If it works in a timeout function, could it just be that the images haven't loaded yet?

[2013-09-23 19:30] starwed commented on #548
Well, I fixed the issue of the canvas not clearing.

I haven't landed it due to a lingering issue with the MBR, though -- unfortunately when rotating by exactly 90 degrees we get a little bit of slop due to trig functions not quite being zero.  (`Cos(Math.PI/2)` !== 0, for instance -- it's something like 10^-17 instead.)  So a square rotated by 90 degrees ends up increasing in size by 1 pixel.  Th

[2013-09-23 19:59] sbyrnes321 commented on #548
It probably doesn't matter as far as I know. But isn't it an easy fix? The `_rotate` code calculates the sin and cosine...

[code]

Is that enough? Alternatively, could define an internal Crafty.cos_with_snap() and Crafty.sin_with_snap() that snap to 1,0,-1...

Sorry in advance if it's trickier than I realize. :-D

[2013-09-23 20:24] potomak commented on #549
@starwed thanks for your reply!

Well, it happens that without timeout the first load is ok (monsters are showed), but reloads fail, so I don't think it's matter of image loading.

It's a shame that we can't test IE easily.

[2013-09-23 20:25] starwed commented on #548
It really seems to just be an issue for "almost zero" numbers, so we could do something like

[code]

(and the same for st).

I don't really like doing this sort of special casing, but I guess it at least wouldn't have much speed impact.  (There are already lots of calculations going on when rotating, and this should be quite fast.)  Math.round and the like are still slow in IE 10, and so should p

[2013-09-23 20:33] starwed commented on #549
Do you get any error messages?

Can you tell if the missing entities are actually trying to draw themselves?  You should be able to test this with something like `e.bind("Draw", function(){console.log("I'm getting rendered!")})`.   (Except with whatever IE9 uses to log with.)

You can also try adding the "VisibleMBR" component if you're using a recent enough version, that should draw a rectangle r

[2013-09-23 20:40] potomak commented on #549
No errors. Everything looks fine.

I don't have a Windows machine with me right now, tomorrow at work I'll try to log the `Draw` event, thanks for the support.

[2013-09-25 00:23] sbyrnes321 commented on #549
I can reproduce the error in IE10.

There is a lot going on in your code, I can't figure out what's the core of the problem.

When I looked into image-loading code a while ago, I reached the conclusion that the code had bugs that could cause race conditions:

https://groups.google.com/forum/#!msg/craftyjs/xiHBnwl-aHQ/1-5mSp_QG0QJ

But I never followed up.

Does it help if you use `Crafty.load(...)

[2013-09-26 21:02] starwed commented on #548
This should now be fixed in develop by #550.

[2013-09-26 21:02] #548 closed, assigned to nobody

[2013-10-02 11:48] motatoes opened #552 "fourway() event gets stuck ?"
When I test the [Getting started](http://buildnewgames.com/introduction-to-crafty/) code ([demo here](http://buildnewgames.com/assets/article//introduction-to-crafty/tut_bng/index.html)), and hold CTRL + UP_ARROW + E_KEY , the character keeps moving upwards infinitely.

Notes:
- Getting started guide uses crafty v0.5.3
- I have tested on FF 24 and chrome 29.0 on a Windows machine
- Same behavior o

[2013-10-02 13:09] potomak commented on #552
I confirm this behavior on GNU/Linux (Ubuntu 13.04) and Chrome 30.0.

Note: if I use the combination CTRL + UP_ARROW + E_KEY the player keeps moving **downwards** indefinitely, with DOWN_ARROW it goes upwards, I observe a similar behavior with left and right arrows.

[2013-10-03 16:36] sbyrnes321 commented on #456
I further investigated core.html in IE8. So far, I haven't found "real" problems, only problems with the tests.
- `Crafty('*').length` is different in IE8 because there's a special entity (search for `ViewportSetter`) which only exists to update the viewport each frame. (This is a workaround to the lack of getter/setters.) For the same reason `Crafty('*').destroy()` should maybe be avoided. (There

[2013-10-03 17:13] starwed commented on #456
I wonder if it would be better to have a separate "Set" event that triggers after each frame if the current environment lacks setters?  Presumably the way things are now, the `x` and `_x` type properties sync up in an essentially arbitrary order, and there's no guarantee that they're the same after the frame has finished.

This would then let you trigger the process independently of "EnterFrame",

[2013-10-03 20:50] sbyrnes321 commented on #456
I just put in a pull request #553. It fixes the false-positives, but some of the unit tests fail for good reason.
- For "modern" browsers, there is an algorithm to set globalZ based on the entity ID number and the z property, mixing those two together. `this._globalZ = parseInt(value + Crafty.zeroFill(this[0], 5), 10);` It seems that this algorithm is not used at all in IE8.
- Rotating a parent in

[2013-10-04 09:25] potomak commented on #549
@starwed I updated the code at http://popinator.fungostudios.com/error/, I can see console.logs either from the ball and from monsters with chrome, but with IE (even IE 10) I can see only ball consoles.

Example chrome log:

[code]

Example IE log:

[code]

Note: I'm using CraftyJS 0.5.4 but I can't find the VisibleMBR component!

[2013-10-04 09:33] potomak commented on #549
@sbyrnes321 yes, I'm using a loader, and yes, I load the `Game` only after assets are loaded and sprite are created.

On page load I execute  `Game.start`:

[code]

`Game.start` loads the `Loading` scene which calls `Crafty.load` and in its callback creates sprite objects and loads the `Game` scene, where everything else happens and where elements are placed in scene.

[code]

Am I doing something

[2013-10-04 20:47] starwed commented on #549
Sorry, the VisibleMBR component exists in the 0.6 alphas -- not in 0.5.4.

Your loading setup seems like it _should_ be ok to me.

The next basic debugging step would be to add logging to check your assumptions -- make sure the entities are being created in the first place, for instance.

You could check that by looking at `Crafty("Monster3D").length`, or by adding logging code directly into the i

[2013-10-04 21:02] starwed commented on #456
The more I think about it, the more the way of dealing with a lack of setters/getters seems like it couldn't possibly work.

The fallback method assumes that if `_x` and `x` are different, that `x` has the correct value.  But there are many places internally where we directly modify the `_x` type properties!  Which means that the fallback method will then revert these to their previous value.

Thi

[2013-10-07 09:12] potomak commented on #549
Yes, they are there, but they are not visualized.

From the console:

[code]

Now I'd like to try version 0.6 of the framework, is there a transition guide?

[2013-10-07 10:50] potomak commented on #549
I tried the script with the develop branch of crafty and it seems to have the same problem.

If I put a timeout around component creation (`Crafty.e('Monster3D').at(..., ..., ...);`) it works well.

[2013-10-07 15:44] starwed commented on #549
So it does sound like there's some problem with the image loading; perhaps IE is triggering the image's `onload` before it's actually loaded?  Or perhaps one of the other assets is triggering onload twice.  (The load function runs the callback once as many valid assets have loaded as were requested.)

You might want to add an onprogress callback to the load function, to see if there's anything wei

[2013-10-08 18:15] kenany commented on #539
@potomak is fixing this at #556.

[2013-10-08 22:13] potomak opened #557 "Modules and concatenation strategy"
I'd like to remove intro.js, outro.js, and to _fix_ core.js, see #556.

/cc @louisstow @starwed

[2013-10-08 23:44] starwed commented on #557
Ah, I probably wouldn't use the term "loading" to describe this.  We concatenate all the files together to produce crafty.js, and a release is of that single file.    Someone just writing a game would never see intro.js.

It would be great if each file could also stand alone (since then we could run e.g. jsvalidate against them each separately) but only if it's strictly better than what we do righ

[2013-10-09 01:48] sbyrnes321 commented on #557
I agree with @starwed -- I don't think cancatenating is a bad solution. We can just remember that those jshints should be ignored...

[2013-10-09 07:26] potomak commented on #557
I partially agree, I think we're also speaking about loading as right now if you want to develop or test the library you must do it against the compiled version.

Using modules we can test them separately and use them separately during development.

Moreover right now compiling is order dependent, I think it's not a reliable solution.

Note: I think that

it's not the best solution.

[2013-10-09 14:39] sbyrnes321 commented on #557
jquery has an intro and outro -- https://github.com/jquery/jquery/blob/master/src/outro.js -- it can't be _such_ a bad idea.

If you don't like my idea of ignoring those jshint warnings, here's another idea: The grunt jshint task can be edited to avoid jshint'ing the very simple files `intro.js` and `outro.js`, and to ignore the specific error "E006: Unexpected early end of program." in the specif

[2013-10-09 14:58] potomak commented on #557
My idea is to rewrite modules using the ES6 draft specification than using [ES6 Module Transpiler](http://square.github.io/es6-module-transpiler/) compile them into an existing library-based module systems such as AMD and finally build them using a tool such as [grunt-contrib-requirejs](https://github.com/gruntjs/grunt-contrib-requirejs)

[2013-10-09 17:54] kenany commented on #557
I agree with what @potomak is proposing. Crafty's source code would be easier to read (and more scalable) if each of the files in `src/` clearly defined its dependencies to the other files.

For example, many of the source files contain something like this:

[code]

Here's the problem: it's not immediately obvious to me where this `Crafty` "global" came from. If each file defined its dependencies,

[2013-10-09 19:49] sbyrnes321 commented on #557
@potomak -- I'm not familiar with those things, so I have a basic question.

In the current build process, we end up with a single file called `crafty.js`, which does not rely on any other javascript library, and which can be loaded directly or via commonjs, requirejs, etc., with no compatibility problems.

Will that still be true after your proposed change?

[2013-10-10 08:43] potomak commented on #557
@sbyrnes321 yes.

That's the exact purpose of r.js (the [RequireJS Optimizer](http://requirejs.org/docs/optimization.html)). You can use it through `grunt-contrib-requirejs` task and it concatenates and optimizes the code.
The result of this task will be a `crafty.js` file that you can include to use the Crafty engine as it is now.

See also: http://requirejs.org/docs/faq-optimization.html#wrap

[2013-10-10 12:58] sbyrnes321 commented on #557
@potomak -- OK, thanks. Your proposal sounds like it will work fine, as far as I can tell.

[2013-10-12 22:39] sbyrnes321 commented on #456
My assessment is that: Certain simple games might still kinda work in IE8 today, but you would have to be lucky to avoid encountering any bugs.

Eventually there will either be an official decision to stop supporting IE8, or someone will volunteer to spend a lot of time figuring out how to get IE8 working reasonably well.

I think the former is more likely, unless a new volunteer appears. (It won'

[2013-10-21 10:03] potomak commented on #549
@starwed @sbyrnes321 I found the problem!

On https://github.com/craftyjs/Crafty/blob/develop/src/loader.js#L204 @starwed added the line

[code]

before the actual loading of the asset.

This workaround that should fix a webkit bug (see 1685064) triggers the `onerror` callback on IE, `onerror` increases the number of loaded assets (see https://github.com/craftyjs/Crafty/blob/develop/src/loader.js#

[2013-10-21 21:46] kevinsimper commented on #557
I think the CommonJS approuch would be better and simpler to understand, since you would not to create AMD modules.

Then with browserify you would create a bundled file.

[2013-10-21 22:26] ManuelRauber opened #564 "Tween animation leaves a "trace""
I'm currently writing an Windows 8 App with CraftyJS. The first start is very promising, I like the way who crafty works.

Unfortunately I have a little problem. Please take a look at the attached screenshot.

I created a gist for the code, please take a look here: https://gist.github.com/ManuelRauber/7241b75d611a7726327c

Please let me know, if you need further information about this.

I have cur

[2013-10-22 07:17] potomak commented on #557
I agree about this the simplicity of CommonJS, but I never used browserify.

[2013-10-22 09:26] kevinsimper commented on #540
If we added Travis, we could build the crafty.js development source file. Sometimes users report bugs, that we think has been solved, so we ask the user to try it with the latest build. This way we could save a lot of time with bugs.

Normal users who are getting started with Crafty.js, do not know how to build crafty.js dev, without using a lot of time figuring it out.

Lately also many tests has

[2013-10-22 14:41] kevinsimper opened #566 "A collision .onHitOnce function?"
Would it be an idea to make a function which only once, every time two entities collides?

Often you want to do something the first time, like talk to a npc, but you only want to init that function once.

Something like this built in:

this.attr({alreadyTouched: {} })

this.onHit("Character1", function() {
        if(this.alreadyTouched['Character1'] !== true){
            console.log('collision')

[2013-10-22 15:14] starwed commented on #566
I've noticed that the current `onHIt` seems to confuse a lot of people, but I'm never quite clear on how they expect it to work.

[2013-10-22 15:19] starwed commented on #564
Hi, the gist doesn't include quite enough code to easily reproduce the issue.  (If I just load those two files I still get some errors about a Game object not existing.) Could you create a jsfiddle or a complete example of the problem?

[2013-10-22 15:45] kevinsimper commented on #566
onHit fires for evey frame, maybe onHit should only fire once, and then a function called touching('entity', callback)?

[2013-10-22 15:54] mpetrovic commented on #566
does onHit fire every frame the two entities are colliding?

If so, then maybe onHit should trigger the first frame two entities are
colliding, and we have another event for every frame two entities are
colliding. onIntersect, whileColliding, something like that

On Tue, Oct 22, 2013 at 11:45 AM, Kevin Simper notifications@github.comwrote:

[2013-10-22 16:15] kevinsimper commented on #566
@mpetrovic Yes, it fires every frame that they are colliding.
https://github.com/craftyjs/Crafty/blob/develop/src/collision.js line 211

[2013-10-22 16:18] kevinsimper commented on #539
Fixed in pull requests.

[2013-10-22 16:27] kevinsimper commented on #456
Does it say anywhere that we support ie8? I do not think the added complexity is worth the trouble for a browser that is on it way out.

[2013-10-22 16:49] starwed commented on #539
There are actually still a couple of things we should fix (unless I missed a pull request!) so reopening.

[2013-10-22 16:50] sbyrnes321 commented on #456
I thought there was something that said IE8 was supported, but now I can't find it. Maybe I'm not remembering right. But it's clear that it was supported at one point, because there's a lot of code in crafty to make IE8 work. I don't think that there has ever a definitive decision to end IE8 support. Instead, IE8 has just gradually been accumulating bugs.

If you want to propose DEFINITIVELY endin

[2013-10-22 18:45] ManuelRauber commented on #564
Can you compile for Windows 8 Store Apps? It's going to be an open source app: https://github.com/ManuelRauber/StupidRobot

Give me a ping, if you want me to extract the relevant parts to a jsfiddle.

[2013-10-23 01:29] starwed commented on #564
@ManuelRauber A jsfiddle would be the best way, since I don't have any way right now to test Windows 8 stuff!  :)

[2013-10-23 14:34] jameshoward opened #569 "Text textFont breaks with font-families containing isolated numbers"
E.g. new `Crafty.e('Text').textFont({ family : 'Times New Roman', size : '20px' }).text('Testing');`

Workaround is to switch to double quotes and wrap the family in single quotes.

E.g. family : `"'Times New Roman'"`

Might be nice to include this in the code instead, automatically wrapping families with spaces in single quotes or alternatively just wrapping them all in singlequotes as I don't be

[2013-10-23 14:51] potomak commented on #569
@jameshoward maybe you're using an old version of Crafty. I can't find the `setFont` method anywhere.
If you're talking about the `textFont` method (see http://craftyjs.com/api/Text.html) it works for me on Chromium even without quotes.
Can you please setup a working example of your problem? You can use http://jsfiddle.net/

[2013-10-23 15:03] jameshoward commented on #569
Yeah, sorry, I corrected the title to textFont but not the text.

On closer inspection it seems the issue wasn't the spaces but the fact the font-family name has a number in it. 'Museo 300'. My example wasn't a good one.

See http://jsfiddle.net/fF6SU/ - the CSS for 'font' isn't applied, presumably as the string that is built isn't valid because it would be '20px Museo 300' while '20px Times New R

[2013-10-23 15:18] potomak commented on #569
I updated the code: http://jsfiddle.net/fF6SU/2/
I can reproduce the error now.

Let's see what @starwed, @kevinsimper or @sbyrnes321 think about this issue.

[2013-10-23 15:35] starwed commented on #569
Yeah, the solution should be to just add quotes around the family when creating the font string.

(We can't set the properties individually because that's not an option when styling Canvas text.)

[2013-10-24 15:51] potomak opened #570 "Move npm development dependencies to devDependencies"
I think all `dependencies` inside `package.json` should be moved to `devDependencies` as they are required to build, test, and manage Crafty code but they're not required by the Cratfy engine itself.

See https://github.com/craftyjs/Crafty/pull/568#issuecomment-26970762

[2013-10-24 15:57] starwed commented on #570
I disagree, because the module is _for_ developing crafty.    The npm docs say:

But Crafty is not (currently) intended to be used as a standalone module, or to be used from other modules.  The _only_ reason to set it up right now is to work on development.  This might change in the future!  But for now I think we should leave things as they are.

[2013-10-24 16:22] potomak commented on #570
@starwed even if Crafty is not currently intended to be used as a standalone module it's **always wrong** to list development dependencies as package dependencies.

From the spec (https://npmjs.org/doc/json.html#dependencies):

Note: this update wouldn't change the development process on the contrary it could only enhance its overall correctness.

Moreover npm could be used also as a _frontend pac

[2013-10-25 07:14] kevinsimper commented on #517
Fixed in #568

[2013-10-25 07:14] #517 closed, assigned to nobody

[2013-10-25 07:28] kevinsimper commented on #570
I would also think that the current dependencies should be moved to devDependencies, because they are used for development, and are not used in the sourcecode of Crafty.js.

Also it does not make any difference in the workflow. When you do: `npm install` it will also install devDependencies. Only when you env is set to production, then it will not install devDependencies.

[2013-10-25 07:36] kevinsimper commented on #557
Fixed in #568

[2013-10-25 07:36] #557 closed, assigned to nobody

[2013-10-25 09:03] potomak opened #573 "Image loading handling on webkit"
Image loading bug in webkit has been resolved in #382 with a workaround that was causing problems with IE, see #549 and #562.

The purpose of this issue is to discuss about a better way to handle images loading.

[2013-10-25 10:21] kevinsimper commented on #569
I have made a pull request where I solved it.

[2013-10-25 10:38] #569 closed, assigned to nobody

[2013-10-25 10:56] potomak commented on #549
Closed by #562

[2013-10-25 10:56] #549 closed, assigned to nobody

[2013-10-25 12:19] kevinsimper opened #575 "What is missing before publishing Crafty.js 0.6.0?"
It has been 5 months since Crafty.js has been released, and a lot of the errors we get from the users has already been solved in the development branch. I think the users will really be glad for the changes, especially the ones @starwed has made :+1:

Also from the outside it seems to people that Crafty.js is no longer under development.
http://html5gameengine.com/details/3/crafty

What do we miss

[2013-10-25 12:37] potomak commented on #575
I suggest creating a milestone associated with the release of version 0.6.0 collecting all issues that must be closed before tagging the new version.

[2013-10-25 13:03] kevinsimper commented on #575
I have created a milestone now, which marks the completeness of version 0.6.0.

@potomak Any issues you think that should be in that milestone?

[2013-10-25 13:08] kevinsimper opened #576 "CocoonJS support"
There seems to be problems getting Crafty.js running on CocoonJS. We should support that, because it is really great for development games on mobile.

There is already some people who has tried:
https://groups.google.com/forum/#!searchin/craftyjs/CocoonJS$20/craftyjs/bQUhXbdUibk/vVUFrlQjudoJ
https://groups.google.com/forum/#!searchin/craftyjs/CocoonJS$20/craftyjs/DmFavnJooUg/tzLwYngAy3IJ

But no c

[2013-10-25 13:10] potomak commented on #575
Sorry but I can't help @kevinsimper, I'm involved in this community since a short time.

[2013-10-25 13:35] kevinsimper opened #577 "Undocumented Physics component"
There is a very small component in `2D.js` called Physics. It is not used anywhere, and it seems that it maybe was an early version of the Gravity component.

2D.js line 1012:

[code]

[2013-10-25 13:41] potomak commented on #577
In my opinion there're a lot of useless components that make this library almost unmaintainable and this is a _dramatic_ example.

[2013-10-25 13:46] potomak opened #578 "Logic separation of components"
I think that separation of concerns in components is great and it just works, but I'd like to see **only one component per file**.
Directories could be used to aggregate cohesive components.

See also #577.

[2013-10-25 14:37] dariusk commented on #578
I agree completely.

[2013-10-25 16:06] potomak commented on #540
I think we should also add also the support for running tests using http://ci.testling.com/, some work is required, I'll open a related issue soon.

[2013-10-25 16:07] potomak commented on #540
Note: I can't still find any build at https://travis-ci.org/craftyjs/Crafty

[2013-10-25 16:13] potomak opened #581 "CI with testling-ci"
To do:
- [ ] update package.json (see http://ci.testling.com/#package.json)
- [ ] update tests to produce TAP output using https://github.com/substack/tape (see http://ci.testling.com/#write)
- [ ] add a webhook to http://git.testling.com (see http://ci.testling.com/#hook)
- [ ] add badge in README.md (see http://ci.testling.com/#badge)

See also #540

[2013-10-25 18:16] kenany commented on #581
Looks like QUnit can use a [plugin](https://github.com/twada/qunit-tap) to produce TAP output. Might be easier than converting over to tape (don't get me wrong, I love tape).

[2013-10-25 19:30] starwed commented on #575
The main thing I want to land before 0.6 is a large change to `animation.js`.

Currently all animations and tweens run in a kind of tick based way.  I have an almost finished patch that switches this to a time based method, that will allow for more flexible game loops.

It also changes the "SpriteAnimation" interface pretty substantially, so I really want to land it before the next official releas

[2013-10-25 19:32] starwed commented on #577
Yeah, this should probably just be excised from the code base.

[2013-10-25 19:39] starwed commented on #578
Hmm, I'm not so certain about this as a hard rule.  Some components are very short, and depend heavily on other components.  For instance, should "FourWay" be in a separate file from "MultiWay"?  All the former component does is call multiway.  Having to constantly hop between files hurts readability just as much as having to navigate a huge monolithic file.

There are scores of components that _s

[2013-10-25 20:34] kevinsimper commented on #575
That sounds great, and a good idea to have in the 0.6 release.

[2013-10-25 20:45] kevinsimper commented on #578
I think the problem is in the files which is over 700 lines, which is the 2D.js, controls.js, core.js, math.js files.

And as you point out, it does not make any sense to split out FourWay and MultiWay, but i do not think that was what @potomak was thinking either :)

[2013-10-25 21:57] kevzettler commented on #575
@starwed do you feel like pushing your branch or no? Asking incase you think it would be valuable to get some more eyes on it and maybe help contribute.

[2013-10-25 22:49] potomak commented on #578
@starwed @kevinsimper in my opinion there should be one clear rule: **one file, one components**.

A simple solution to the `*way` components problem should be to put them in the same directory (_package_), maybe the `controls` directory.

[2013-10-25 23:03] starwed commented on #578
That's not a solution to the objection I had; in fact, putting the source code in subdirectories can actually make it harder to jump between files, depending on what sort of development environment you use.

[2013-10-25 23:06] potomak commented on #578
Note: one of the main reasons (a practical one) I'm asking for this _feature_ is that when I'm looking for a component I'm always forced to look for the file including it using the _search in project_ function of my editor.

[2013-10-25 23:36] potomak commented on #578
Putting more than one component per file is like putting more than one class per file, it's permitted in some languages. I write mostly ruby and java and it just feels wrong to me.

I _challenge_ you @starwed to put all `*way` components api documentation together in one single doc page as they're in a single js file :smile:

[2013-10-26 02:16] starwed commented on #575
I opened #583 for the branch I've been working on.

[2013-10-27 15:13] starwed commented on #534
I was wondering if we could locally use a similar processor to the one Pages uses, to generate the files locally.

Alternatively, we could just not use Jekyl in favor of some other approach -- nothing about Github Pages prevents this.  :)

[2013-10-27 15:26] starwed commented on #552
Maybe this is a problem with how key events are tracked?

@moehabib , @potomak : Do either of you have a fiddle/etc that demonstrates the issue?

[2013-10-27 15:39] kevinsimper commented on #534
We could something like https://github.com/visionmedia/dox which makes the documentation into a json file, and then we could use whatever template system.

I would really like that it would be a one-page documentation, because it is that much faster to jump between and you can search the whole documentation with the native browser search.

[2013-10-27 15:40] kevinsimper commented on #577
Fixed in #585

[2013-10-27 15:40] #577 closed, assigned to nobody

[2013-10-27 15:45] starwed commented on #534
There are two separate issues here: how we parse documentation from the code, and how we generate a website that hosts not just auto-generated content, but also other resources.  AFAICT dox is the former, and doesn't help with the latter.

We already had an existing solution that generated HTML; that was changed in this bug to integrate with the Pages template system.  I agree that we should use s

[2013-10-27 18:09] starwed commented on #578
In the small amount of time I spent with Java I hated exactly that, so I think there's a large subjective component to it!  :P

But clearly the current state is not great.  Why don't we start by identifying files that hold multiple, unrelated components.

One very basic separation we should consider is between code that depends on a browser context, and code that doesn't.  We should make it easy f

[2013-10-28 08:09] #539 closed, assigned to nobody

[2013-10-29 14:18] starwed commented on #540
Someone (@louisstow?)  seems to have flipped the right switch, because I'm now seeing Travis messages integrated into pull requests.

[2013-10-29 14:28] kevinsimper commented on #540
No, it is because I have added it to my crafty fork, so on all my pull requests there will be travis-ci messages.

So we still need Louis to add Travis-ci.

[2013-10-29 14:42] starwed commented on #540
Aha.  It does seem like this would be quite useful.

[2013-10-29 14:44] kevinsimper commented on #540
Yes, very useful, especially on pull request from new people.

[2013-10-30 14:38] kevinsimper opened #591 "Bower support"
Right now even through we have a bower.json file, `bower install crafty` would not work because for that to work, there would have to be compiled version of crafty.js in this repo.

And since this repo is set to start on the develop branch, it would be hard to avoid that crafty.js and crafty-min.js would not committed and then bower users will get the development unstable version.

How can this be

[2013-11-01 17:44] starwed opened #593 "Rotations don't compose correctly"
Rotating an entity, attaching it to a parent, and then rotating the parent doesn't work the way you'd expect.

Currently when the parents rotate, we rotate all children about the same origin.  But this doesn't work if the children are already rotated about their own origins.

I think the correct approach is to manually change the `x` and `y` coordinates of children when the parent rotates, while a

[2013-11-01 19:07] starwed commented on #591
I don't really see any good way to solve this, other than having a separate repo for hosting a bower-friendly version.

I actually thought I'd already opened an issue on this, but apparently that was my imagination...  :)

[2013-11-02 02:07] starwed commented on #593
Looks like the way we do hitboxes/polygons _isn't_ broken, since we just rotate the individual points.

It's rotated entities where we mess up, because the rotation property only comes in to play when rendering.  Should actually be pretty easy to fix.

[2013-11-02 02:26] starwed commented on #593
I wrote a quick fix and it seems to work.  [Here is the fiddle](http://jsfiddle.net/2VnKw/2/) with my fixed version of crafty.

I'll want to write a few test cases before landing, though.  This patch didn't break any tests, which is actually a bad thing -- it fundamentally changes how `attach` works when we rotate the parent element.

[2013-11-02 21:00] mucaho commented on #578
If you give me the o.k. to @starwed idea to seperate browser context from rest of code, I can give it a try.
If not much has changed since 0.5.3, then the seperation should be pretty simple as described in [backend differences in v0.5.3](https://github.com/mucaho/npm_crafty/tree/master/diff#removed-from-crafty)

[2013-11-02 23:29] #593 closed, assigned to nobody

[2013-11-04 00:28] starwed commented on #534
Some searching turned up [assemble](http://assemble.io/), which is a node/grunt-based static site generator.  [This blurb](http://stackoverflow.com/a/16254540/460138) makes it sound ideal for our purposes, but I haven't actually looked at it in depth yet!

[2013-11-04 11:51] kevinsimper commented on #534
Yeah, that looks cool, but we still has extract the documentation from the source files, and my problem when i just quickly tried, was that the you would have to categories the json like the build.coffee does.

If we could make the build.coffee to output json it would be pretty quick using assemble.

[2013-11-04 16:06] starwed commented on #534
I think assemble can just take HTML as the input.  Currently the documentation looks like this, after building it:

[code]

When we upload that to github Pages, it takes the front matter (the bit delimited by `---`) and adds the appropriate header etc.  Assemble should be able to do the same thing locally, transforming the docs we generate without needing any extra data beyond what we already prov

[2013-11-05 14:53] starwed commented on #534
Now that npmjs.org is back up, I managed to install assemble and get it to transform the documentation.  It's actually fairly straightforward, though I had to tweak the layout template a tiny bit.  (They use `{{>body}}` instead of `{{content}}` for the main page content; I'm guessing there's a way around that.)

It seems like a fairly versatile tool, though their documentation is frustratingly vag

[2013-11-06 11:55] potomak opened #606 "Keyboard keydown event error"
I'd like to subscribe to the `KeyDown` event but it's never triggered as `Crafty.trigger("KeyDown", e);` iff `Crafty.keydown[e.key] !== true` and the assignment is made inside the same conditional block.

See https://github.com/craftyjs/Crafty/blob/develop/src/controls.js#L292-L295

[2013-11-06 15:41] starwed commented on #606
In practice, when does this come up?  Can you have two keydown events of the same type without a key up event in between?

[2013-11-06 18:37] starwed commented on #540
@louisstow  Could you comment on this?  Even if it's just to say you don't have time to think about the issue right now.  :)

[2013-11-07 00:09] mucaho commented on #606
Perhaps my experience is related to yours:
I tried to listen to key events locally at an entity with `Crafty.e("..., Keyboard, ...").bind("KeyDown",  function(){})` but it didn't work for me. The _fix_ was to listen to key events globally with `Crafty.bind("KeyDown",  function(){})`
I was pretty newb to crafty back then, so I might have done something wrong.

[2013-11-13 08:44] kevinsimper commented on #575
#583 has been merged.

We should tag it now for release 0.6 :)

[2013-11-13 17:43] starwed commented on #575
Yeah, I found a silly bug that was missed by the unit tests and submitted a fix for.

I'll land that and a couple of other small fixes, and cut a testing branch before we do an actual release.

It might be nice to have #499 and #508 (or equivalent) before the actual release, but we can always merge those in with the testing branch.

[2013-11-14 08:52] kevinsimper opened #616 "Says time instead of frames - viewport documentation"
It says frames in the description, but says time in the arguments list.

http://ludonomicon.com/crafty/api/Crafty-viewport.html

[2013-11-14 15:17] starwed commented on #616
Well, it is a time -- just measured in frames.   But yeah, probably misleading.

fwiw,I plan on rewriting these to be time based after the 0.6 release.

[2013-11-16 22:19] starwed commented on #575
Put a list of things to finish before the actual release.  Oh, and I guess we need to bump the version number too.  :)

[2013-11-16 22:24] starwed commented on #575
Oh, let me know if there's anything missing from the [release notes](https://github.com/craftyjs/Crafty/wiki/Release-note-0.6.0), especially if something should go in the major/notable section.

[2013-11-16 23:08] motatoes commented on #552
@starwed Sorry for the delay -- This fiddle is a minimal demonstration of the issue with fourway(): http://jsfiddle.net/potatoes/Eyp6R/ (Just try a combination of the keys stated previously)

I tried to track the error by logging the value of this._movement.x at the end of [this function](https://github.com/craftyjs/Crafty/blob/develop/src/controls.js#L678) -- It seems to me that when the issue oc

[2013-11-17 07:34] icco commented on #412
I'm seeing the same issue as @benbarefield.

[2013-11-17 08:46] icco commented on #412
Just to be clear, I'm seeing this in both head and in the 0.5.4 release.

[2013-11-17 23:56] kevinsimper commented on #552
Hmm, that is weird. I can also do that in your fiddle. The fiddle is using Crafty 0.5.4 allthrough, but i can confirm this error also on 0.6 second beta.

I can stop the movement, by pressing the same keys (on osx cmd + e + down) but reverse direction (cmd + e + up). This bring the square to stop. But if i hit just the up key, it starts going infinite up, the reverse of where it was going infinite

[2013-11-18 18:47] starwed commented on #575
The `stage.html` unit tests don't pass in Firefox.   In particular, the `centerOn` test fails.  I'll investigate why.

If someone could run the tests in Safari, IE9 and 10 that would be good!  PhantomJS uses Chrome's V8, but it would still be nice to here about Chrome.

[2013-11-18 19:55] starwed commented on #575
Tested in Chrome (31.0.1650.57) and Safari (6.05).

The `stage.html` test fails the same way in all browsers, but passes in PhantomJS.

In Chrome, the matrix inversion test (30) in `math.html` fails.  It passes in Safari, Firefox, and PhantomJS.  It seems to be relying on a particular value for rounding, so that's probably a test problem rather than a real problem in Chrome.  Probably the matrix `

[2013-11-18 20:22] starwed commented on #575
Ah, it passed in phantom because of a difference in the size of the viewport.  Phantom defaults to 300x400, which happens to avoid the errors I was getting in other browsers.  Probably that test suite should both explicitly set the viewport size, and run the tests in a couple of variations.

There's one bug in the tests: the values compared to need to be floored, because viewport coordinates are.

[2013-11-18 20:53] starwed commented on #575
The other failure I was seeing was due to `_clamp`.  The `centerOn` function calls `pan`, and pan clamps the viewport to the region with entities unless you set the flag otherwise.

So this is just a test problem: the values need to be floored, and the flag needs to be set.  I'll open a PR for that.

_e:_ Fixed in #623

[2013-11-20 22:33] kevinsimper commented on #564
@ManuelRauber Did this problem still happen to you?

[2013-11-28 22:54] heniotierra opened #629 "Twoway should require Gravity"
Twoway does not make sense without gravity, so I think the first should require the later.

[2013-11-28 22:56] heniotierra opened #630 "Twoway and Gravity should trigger a "Moved" event"
Like Multiway does, Twoway and Gravity should also trigger a "Moved" event

[2013-11-29 02:11] starwed commented on #575
Ok, after getting some public testing, there are a few issues that needed fixing.  (And one that still does.)

I tagged the PRs we'll want to backport to the testing branch with a [0.6] label.  There have been some other changes that can wait til the next release; we should just pull in things that either fix regressions or totally broken functionality.

@kevinsimper Will it be easy to update the

[2013-11-29 03:42] heniotierra commented on #630
Correcting the second commit's comment: Gravity triggers "Moved" event when falling

[2013-11-29 21:47] starwed commented on #575
Anyone able to run the unit tests directly in IE9 or IE10?

Maybe @sbyrnes123?

[2013-12-04 19:20] starwed commented on #575
No one ever chimed in about tests in IE9/10, but I went ahead and push a release candidate that cherry-picks fixes for important issues from the develop branch.   Hopefully that's a reasonable way to do things!  (I could have also just merged each feature branch into testing, I guess.)

The only other thing to wait on is the docs -- @kevinsimper , since you have the permissions for that repo, is t

[2013-12-05 08:26] kevinsimper commented on #575
@starwed Sorry for being late, but yeah it is straight forward. Build det docs and move them to the website. I will make a pull request ready on the site right now.

[2013-12-05 09:08] kevinsimper commented on #575
Here is the new documentation pull request:

https://github.com/craftyjs/craftyjs.github.com/pull/23

[2013-12-05 09:25] kevinsimper commented on #575
I have added a task, that we should add the compiled version of Crafty to a dist folder, so that people can use Bower to get Crafty.js and so it is easier to get the code, instead of you have to get it down and compile it yourself or find it on another website.

[2013-12-05 12:59] hugofirth commented on #591
Did anything come of this? Either porting the unbuilt version to a develop branch or having two separate directories would work. It is somewhat frustrating to have to manually manage a single dependency :)

[2013-12-05 13:02] kevinsimper commented on #591
I just added it as a task for the 0.6 milestone:
https://github.com/craftyjs/Crafty/issues/575

[2013-12-05 13:08] hugofirth commented on #591
@kevinsimper awesome thanks :+1:

[2013-12-05 14:07] starwed commented on #339
Update: I'm working on a rewrite of the viewport animations that fixes this.

[2013-12-06 05:43] starwed commented on #457
Oh, this should be easy to fix in a different way.  The problem is that some code needlessly modifies the bounds object:

[code]

I think the following would be both easier to read and wouldn't mess with the bounds object:

[code]

(And the same for `y`.)  I'll submit a patch for this shortly.

[2013-12-06 16:52] starwed opened #639 "Remove IE8 support"
I propose removing IE8 support.
- There's a lot of code that works around IE8 issues
- Despite that, there are still major bugs that would require tons of work to fix
- IE8 doesn't support canvas or several other major features

Even that I would be ok with except that
- No one contributing to Crafty has shown the slightest interest in fixing these
- Almost no one is even in a position to run test

[2013-12-06 16:58] kevinsimper commented on #575
DOM: Internet Explorer 9 and 11 error, 10's fine:
![image](https://f.cloud.github.com/assets/1126497/1693860/df71f714-5e96-11e3-9f58-482d0cf24788.png)

That is the only error i encounted, when doing all the test in internet explorer 9 - 10 - 11.

[2013-12-06 17:11] starwed commented on #575
I think this is just because IE9 doesn't support such transforms in the first place.    The flag we use is `Crafty.support.css3dtransform`, we can just skip these tests if it's false!  :)

I'm guessing IE11 _does_ support the transforms, but we're detecting it incorrectly?

[2013-12-06 17:20] kevinsimper commented on #575
Hehe, I was just about writing that is the `Crafty.support.css3dtransform` that caused it to fail.

http://caniuse.com/transforms3d

I think this is way it is okay in IE10:
http://msdn.microsoft.com/en-us/library/ie/hh673529%28v=vs.85%29.aspx#the_ms_transform_style_property

I do not really understand it deeply, but i do not think it is a critical bug.

[2013-12-06 17:23] kevinsimper commented on #575
Nice that you cherry picked some commits for the 0.6 release candidate, but don't you want to include the new scene function? That would be nice addition i think :)

[2013-12-06 17:25] starwed commented on #575
Yup, it's expected behavior, and more of a bug in the tests.

[2013-12-06 17:28] starwed commented on #575
Heh, the scene function didn't quite make the cut.  There's always something it's nice to have, but we need to release eventually!  :)  And it could introduce bugs.

I just realised I accidentally merged in some extra commits into testing.  And indeed, one of those commits turned out to have a bug.  I've reverted the merge, cherry-picked the changes I _meant_ to get, and will push to the testing b

[2013-12-06 17:34] kevinsimper commented on #591
#640

[2013-12-06 17:34] #591 closed, assigned to nobody

[2013-12-06 17:36] kevinsimper opened #641 "css3dtransform support not detected correctly in IE11"
DOM: Internet Explorer 9 and 11 error, 10's fine:
![image](https://f.cloud.github.com/assets/1126497/1693860/df71f714-5e96-11e3-9f58-482d0cf24788.png)

That is the only error i encounted, when doing all the test in internet explorer 9 - 10 - 11.

The test in Crafty.support.css3dtransform is properly wrong in IE11, because it shoud support it.

[2013-12-06 17:44] kevinsimper commented on #575
Ah, cool!

I created a new issue for the IE bug so that can be fixed later.

Made a pull request with the nessary things for bower.

Have already pushed the new documentation, but have not updated the front page. Doing that now.

Will you make a release tag for 0.6.0 or should I do it?

[2013-12-06 17:45] starwed commented on #575
Let's tag it once it is merged to release; I'll do that in a sec.  Github does it automatically when we use their release interface.

Since Bower uses the tag to find the files it needs, the bower additions will have to be included before we tag.

[2013-12-06 17:52] potomak commented on #641
I think it's my fault. The test should actually distinguish between browser which support CSS 3d transforms and those who don't.

[2013-12-06 18:18] kevinsimper commented on #639
How do you know what code is made only for IE8?

There is 5 places in the code where is ie8 is mentioned. Like the getter setter of course, but anywhere is where it is not mentioned?

[2013-12-06 18:22] starwed commented on #639
There are a couple places I know of.  This would definitely be an incremental process.
- The getter/setter fallbacks
- The way we handle rotations is special cased for IE8 (L63 of DOM.js)
- We have to avoid some nice javascript additions because they're not supported by IE8.  A random example is [Date.now()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/now)

[2013-12-06 18:25] kevinsimper commented on #630
Helping on #631

[2013-12-06 18:25] #630 closed, assigned to nobody

[2013-12-06 18:28] starwed commented on #575
Ok, I made an [official github release](https://github.com/craftyjs/Crafty/releases/tag/0.6.0)!

Maybe the craftyjs.com landing page should point to those downloads?

I'll close this issue once `craftyjs.com` is updated!  :D

[2013-12-06 18:49] kevinsimper commented on #629
#631 discussing there

[2013-12-06 18:49] #629 closed, assigned to nobody

[2013-12-06 18:50] starwed commented on #575
Bower install isn't working correctly.

While it realises that it needs version 0.6.0, it refuses to install it because that version has a file that specifies it to be version 0.6.

The solution here is to bump the number to 0.6.1 and create a new tag.

I strongly dislike the way bower handles these things.  (Not versioning, but forcing itself into the project workflow.)

[2013-12-06 19:17] kevinsimper commented on #575
That is very wierd about bower, created a issue over there, because it should not be nessary to do these hoops.

https://github.com/bower/bower/issues/998

Good idea point towards github's version!

[2013-12-06 21:19] starwed commented on #575
Ok, pushed version 0.6.1.  `bower install crafty` now works correctly AFAICT.  (Although it installs everything; maybe it should just install the `/dist` folder?)

@kevinsimper  Probably no need to rebuild the documentation.  Just make sure the main page calls it 0.6.1.

[2013-12-06 21:22] kevzettler commented on #575
GREAT WORK :+1:

[2013-12-06 21:36] kevinsimper commented on #575
@starwed Yes, maybe we should use the ignore property in bower.json, but I think it is quite silly that you have to maintain that file if you add new files and/or folders. It should be the other way around, that you list only needed files.

Cool about 0.6.1, we can not wait on bower fixing it's shit.

I just remembered that it would maybe be a good idea to have the unminified sourcemap version of

[2013-12-06 21:56] kevinsimper opened #645 "Virtual keyboard not shown when input in tapped on (mobile devices)"
There is the same bug on touch as there was fix on desktop.

Mention on the forum here:
https://groups.google.com/forum/#!topic/craftyjs/w5B9Vas5RuM

Basicly i think the same fix that was made here:
https://github.com/craftyjs/Crafty/blob/develop/src/controls.js#L310

Should be applied here:

https://github.com/craftyjs/Crafty/blob/develop/src/controls.js#L231

[2013-12-06 22:14] #645 closed, assigned to nobody

[2013-12-06 22:17] #303 closed, assigned to nobody

[2013-12-06 22:17] starwed commented on #303
Should be fixed by #646.

[2013-12-06 22:58] kevinsimper commented on #575
@starwed The files in the dist folder should have the updated 0.6.1 in the banner.

Done it manually on craftyjs.com

[2013-12-06 23:35] starwed commented on #575
Ok, that's done then!

[2013-12-06 23:35] #575 closed, assigned to nobody

[2013-12-08 05:48] starwed commented on #346
I found a [suggested workaround](http://uihacker.blogspot.com/2012/06/android-fix-android-2x-css-transform.html).

Not sure if it's worth working around this bug unless it exists in more recent versions of android.

[2013-12-08 06:03] starwed commented on #564
You might want to try the 0.6.1 release; there was a bug fix for a very similar issue.

I'm going to close this for now, do let us know if it still occurs in 0.6.1.

[2013-12-08 06:03] #564 closed, assigned to nobody

[2013-12-08 06:05] starwed commented on #498
Should be fixed by #620.

[2013-12-08 06:05] #498 closed, assigned to nobody

[2013-12-08 18:26] #457 closed, assigned to starwed

[2013-12-08 23:36] kevinsimper opened #649 "Controls should move depending on dt"
Shouldn't controls now move depending on the dt or should they just be standard components and then if people want something which fits the more advanced steptypes, write their own components?

And how would you do it?

The normal dt is 20 (50 fps) which moves 3 pixels, and you get passed 30 in dt (33,3 fps) that is 1,5 times the normal dt so that would be 3 \* 1,5 = 4.5.

![image](https://f.cloud

[2013-12-08 23:56] starwed commented on #649
For Multiway and Twoway, I think the way forward is to just have a component that tracks velocity and handles how the entity's position changes over time.  Then the other components just change that velocity.  I did something similar in the first game I wrote using Crafty -- having a component that moved objects based on velocity and acceleration.

The whole fractional pixel thing is distinct from

[2013-12-09 12:45] kevinsimper commented on #575
@starwed I just saw that angular does it quite different with bower. They have a whole second repo only for bower, but that seems counter productive :/

[2013-12-09 16:23] starwed commented on #575
To be honest, a separate repo would be my preferred solution.

[2013-12-10 02:14] kevinsimper commented on #649
I do understand acceleration and velocity, but can not quite figure it out on top of my head what to do.

What does that mean when compared to Crafty? The "whole fractional pixel"? That is how is should be done, because that is now how it works now today.

Implenting accelration and velocity would be simple to implement, but I can not read from what you have if the controls do indeed have to chang

[2013-12-11 03:35] starwed commented on #327
This actually is documented in [Crafty.c](http://craftyjs.com/api/Crafty-c.html) now, so closing the issue.

[2013-12-11 03:35] #327 closed, assigned to nobody

[2013-12-11 03:45] starwed commented on #606
I'm still a bit confused on what the issue is here.  Could someone take a stab at explaining it?

[2013-12-11 04:03] starwed commented on #452
Ah, it's because the viewport's offset is calculated once when it is initialized.

Calling `Crafty.viewport.reload();` after you manipulate the DOM will fix the problem.  This is done automatically when the window is resized, but unfortunately I don't see a way for Crafty to get notified when the DOM has been changed.

[2013-12-11 20:28] #163 closed, assigned to nobody

[2013-12-11 23:58] starwed commented on #339
Should now be fixed by #648!

[2013-12-11 23:58] #339 closed, assigned to starwed

[2013-12-11 23:58] starwed commented on #285
Should now be fixed by #648!

[2013-12-11 23:58] #285 closed, assigned to starwed

[2013-12-11 23:58] starwed commented on #616
As of #648, it _is_ a time.  :)

[2013-12-11 23:58] #616 closed, assigned to nobody

[2013-12-12 00:00] #349 closed, assigned to starwed

[2013-12-12 00:02] starwed commented on #639
Anyone have any more thoughts on this?  Otherwise I'm tempted to just say we're dropping support.  (Or more accurately, dropping a half-hearted attempt at support.)

[2013-12-12 00:05] kevzettler commented on #639
I'm in favor of mobile support over IE

[2013-12-12 00:21] starwed commented on #529
I guess we should do something about this, since the site looks pretty bad right now!

A three step plan:
- [ ] Get a skeletal node app working that replaces the current site's back end functionality
- [ ] Design a front-end website
- [ ] Ask nodejitsu about [free hosting](http://opensource.nodejitsu.com/)

[2013-12-12 19:39] #494 closed, assigned to starwed

[2013-12-14 18:45] starwed commented on #412
I made a [jsfiddle](http://jsfiddle.net/c3597/7/) that illustrates the problem in 0.6.1.

[2013-12-14 18:46] starwed commented on #639
Ok, let's make the call -- IE8 is no longer supported.  I'll keep this open as a tracking bug for patches that remove IE8 specific code.

[2013-12-14 18:47] starwed commented on #456
Closing due to #639.

[2013-12-14 18:47] #456 closed, assigned to nobody

[2013-12-14 18:47] starwed commented on #306
Closing due to #639.

[2013-12-14 18:47] #306 closed, assigned to nobody

[2013-12-14 18:50] starwed commented on #606
Closing, since I don't see the described bug -- but totally willing to reopen if I'm just not understanding the issue.

[2013-12-14 18:50] #606 closed, assigned to nobody

[2013-12-15 20:38] georgii-ivanov opened #654 "Crafty drawing bug!"
Hi, i'm trying implement custom crawing Planet object on canvas.

Following code is doesn't works!

[code]

Draw method called, but object on canvas not refreshed (draws just a strange dotes on canvas, but not planet object).

What's wrong??

[2013-12-15 21:29] georgii-ivanov commented on #654
It's not working if i use draw() method with EnterFrame event. I don't know why...

[2013-12-15 21:34] starwed commented on #654
This isn't how you implement custom drawing.  Look at how something like "Color" is implemented (just search for it in crafty.js), and try to copy what it does first.  Note that "Color" does not define a `draw` _method_ at all, but binds a function to the "Draw" event.

 I'll close this as an issue, but feel free to comment more if you're having trouble figuring out what to do.

[2013-12-15 21:34] #654 closed, assigned to nobody

[2013-12-15 23:38] georgii-ivanov opened #655 "Custom drawing bug #2"
[code]

Try this code.

If object Player1 OR Player2 not rendered, Circle boxes animated fine. BUT IF.... I enable Player2 fallen boxes is not working! WHY???

[2013-12-15 23:43] georgii-ivanov commented on #655
just comment line: Crafty.e("Player1").attr({x: 400, y: 50}); or Crafty.e("Player2").attr({x: 200, y: 50});

[2013-12-15 23:44] georgii-ivanov commented on #655
I like craftyjs and i want use it but that bug..... arghhhhh..... I already killed all the day to understand this problem

[2013-12-15 23:45] starwed commented on #655
Hi, please use the forums for [questions like this](https://groups.google.com/forum/?fromgroups#!forum/craftyjs) -- this issue tracker is for bugs in Crafty.

When drawing entities, Crafty sometimes clips the canvas context using their position and dimensions.   That might be what you're seeing here, since you haven't given the box entities a height or width.

For performance reasons, this will oc

[2013-12-15 23:45] #655 closed, assigned to nobody

[2013-12-15 23:47] georgii-ivanov commented on #655
How to fix that problem?

[2013-12-16 00:01] georgii-ivanov commented on #655
ok. I understood. He uses rect (x; x+w) (y; y+h). But... One problem is here. But i need specify center of circle but not top-left corner. How to do so through the attr () to transmit the coordinates of the center, but to redraw the position of the top left corner

[2013-12-16 00:52] starwed commented on #655
The x y coordinates of the "2D" entity are _defined_ to be the upper left corner.  You could always have a method like

[code]

although if the circle might change size later, you'd have to decide how to handle that.

[2013-12-16 01:24] matthewsimo opened #656 "SpriteAnimation not working in Safari/Chrome on DOM based entities"
Hi, I just picked up Crafty this weekend and was playing around with it and I came across a bug. I couldn't get SpriteAnimation to work but after lot's of facepalms I found out why... It stayed on the first frame and didn't animate, but also returned back isPlaying() as true.

It seems to only appear when attempting to animate on entities that are DOM based in webkit/blink. I'm on Mac, so I don't

[2013-12-16 01:26] georgii-ivanov commented on #655
Thanks for the answer, but I had already guessed. But why CraftyJS have no metric from the center of an object?? (aka origin)? I have already found a crutch Crafty.circle(), but why it can not be implemented in the core?

There is another problem - it is an object's shadow and blur radius. He specified not in pixels and there is a big problem, as it considered when partial rendering?

[2013-12-16 09:23] grozen commented on #412
I saw you mention on the groups thread that this is tricky to solve performance-wise.
While I am completely unaware of the specifics, can't we just do the MBR pass on the entities **or** their hitboxes? As in, prefer the associated hitbox's MBR if a hitbox is defined?

From my specifics-agnostic viewpoint this seems alright in the performance sense. Of course, this may be a nightmare to implement

[2013-12-16 13:11] sbyrnes321 commented on #654
See also: https://github.com/craftyjs/Crafty/wiki/Crafty-FAQ-(draft) -- one of the items is how to do canvas drawing

[2013-12-16 16:45] starwed commented on #412
Unfortunately the MBR is used not just for collision detection, but also to determine what areas to redraw when a "Canvas" entity moves.

Crafty maintains a map of which entities are in each cell of the stage -- a cell by default being a 32 by 32 pixel area.  When we check an entity _e_ for collisions, to avoid checking against _every other entity_ on the stage, it first compiles a list of entitie

[2013-12-17 09:41] grozen commented on #412
Thanks for the in-depth explanation!

[2013-12-17 20:33] starwed commented on #412
This turns out not to be an issue -- after thinking about it, this just redefines what the MBR is.  I put together a patch that seems to work, and would allow a workaround for this issue as well.

I started putting together a patch for this issue too, but the problem is that you have to recalculate things every time the collision hitbox rotates -- that seems like it could hurt performance.  Luckil

[2013-12-17 20:52] starwed commented on #656
Ah, it seems to be some issue with how we set the CSS.  Currently the code sets a bunch of properties in one line:

[code]

Using the inspector in Safari, I figured out that the background position wasn't being set when animated.  On a hunch I tried setting the background position on a separate line:

[code]

It then works fine.

Since it worked in Firefox, I'm not sure if this is a bug in what we

[2013-12-17 21:21] matthewsimo commented on #656
Yea, that's very odd indeed, thanks for the update!

[2013-12-17 22:58] starwed commented on #412
We can calculate a (non-minimal) bounding box for the collision polygon as follows:
- Find the minimal bounding box of the entity+collision map when _unrotated_.  We can just do this once when the collision map is attached.
- Store the center and radius of the minimal bounding circle for that rectangle.
- On rotation, transform that central point.
- When updating the MBR, find the minimal square t

[2013-12-18 08:15] starwed commented on #639
Opened PR #657  to remove explicit IE8 support.  (landed, will probably need some follow up patches as we find more IE8 specific code.)

[2013-12-19 00:57] georgii-ivanov opened #659 "Object rotation 0 and position of player bullet bug."
I have entities: Player and Bullet.
## Player object bullet create:

[code]
## Bullet object:

[code]

---

There is not working when rotation = 0;
Drawing line position set 0,0 and not moving (just not in the clip range).
ctx.moveTo not working properly. Why? MoveTo must set relative position of object if width and height and x,y specified.

[2013-12-19 01:13] starwed commented on #659
Please stop using github issues as a support forum.  Post this information in [the group](https://groups.google.com/forum/?fromgroups#!forum/craftyjs) instead.

If it turns out there's a bug, that's the time when you can report an issue.

[2013-12-19 01:13] #659 closed, assigned to nobody

[2013-12-19 01:26] georgii-ivanov commented on #659
Ok, i post it. The last time I can get an answer to my question here?

[2013-12-19 05:09] starwed commented on #412
Ok, I implemented the idea above, and it seems to work.  It adds an additional property called `_cbr` that can be used for bounding collisions.

I need to make sure I'm not accidentally messing up performance in the standard case, and that the _cbr stuff is handled properly in some edge cases.

[2013-12-20 02:37] ryansmith3136 opened #663 "Crafty.init() prevents propagation of `touchmove` events"
The problem is that other JS libraries (e.g. scrolling libraries) might rely on this event. Crafty silently prevents the touchmove event from being executed.

Perhaps `Crafty.stop` can remove this listener?

[2013-12-20 02:38] ryansmith3136 commented on #663
Relevant code: [viewport.js line 16](https://github.com/craftyjs/Crafty/blob/ca1d96d825d4b37013c2b7248eba823bcb0b6d4b/src/viewport.js#L618-620)

[2013-12-20 08:52] potomak commented on #663
I had the same problem but I didn't investigate, thanks @ryandotsmith.

[2013-12-20 16:47] ryansmith3136 commented on #663
Here is a patch that we applied to our local copy of crafty.

https://gist.github.com/ryandotsmith/8057623

[2013-12-24 08:20] #419 closed, assigned to nobody

[2013-12-24 11:32] mucaho commented on #330
some links:
[StackExchange: alternatives to specifying image smoothing](http://stackoverflow.com/questions/10525107/html5-canvas-image-scaling-issue)
[Image rendering with CSS](https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering)

[2013-12-24 20:33] mucaho commented on #330
Executing the following code smooths the image for Chrome, but it does not work for Firefox:

[code]

However look at this [jsfiddle](http://jsfiddle.net/VAXrL/190/). Even if you remove all CSS statements and keep only the Javascript statements, the image gets smoothed (even for FF).

Some internal Crafty statements must work against the image smoothing on FF. Any ideas? @starwed?

[2013-12-24 21:26] starwed commented on #330
To be clear, you _don't_ want it to be smoothed, right?

[2013-12-24 21:38] starwed commented on #330
Your fiddle was using a different technique to render the sprite than the "image" component uses.  [Here](http://jsfiddle.net/h5mCt/) is an example that follows what "Image" does, and reproduces the same issue in Firefox.

[2013-12-24 21:43] starwed commented on #330
And [here](http://jsfiddle.net/h5mCt/1/) is a fiddle that uses the same method the "Sprite" component uses.  (Which is basically what you were doing, but instead of scaling the image the entire canvas context is scaled instead.)  It shows crips pixels Firefox, Chrome, and Safari.

So the issue seems to be that Firefox doesn't respect the smoothing options when filling a rectangle with a pattern.

[2013-12-24 22:05] mucaho commented on #330
Yeah exactly :)

Good catch. Should I go ahead and extend Crafty with `Crafty.canvas.setImageSmoothing(boolean enabled): void` anyway (and we just add a note in the docu saying it does not work with FF insert_current_version)?
I will go ahead and submit the bug to Firefox.

[2013-12-24 22:10] mucaho commented on #330
Actually the issue has already been reported: [Bugzilla Bug#696630](https://bugzilla.mozilla.org/show_bug.cgi?id=696630)

[2013-12-24 23:11] starwed commented on #330
Nice find -- I'm terrible at using bugzilla, so had opened a new issue I just closed as a dupe of that one.  :)

[2013-12-24 23:26] starwed commented on #656
Should be fixed by #664

(I never did figure out what, specifically, was causing this.)

[2013-12-24 23:26] #656 closed, assigned to nobody

[2013-12-25 10:41] kevinsimper commented on #412
| The bounding square of that circle will be larger than the minimal bounding rectangle but be faster to calculate.

How can that be? A circle is normally round which would make the rectangle and the square the same size.

[2013-12-25 21:55] pawurb opened #668 "DOM sprites blinking in Chrome browser when image is not cached (such as loading from file://)"
I am having a bug with blinking DOM objects in Chrome browser. It looks like this:

http://www.youtube.com/watch?v=YTaia2DIDFs&feature=youtu.be

The green and red objects you can see are not even animated. Just static sprites, position constantly changed in EnterFrame using 2d#move() function.

I experience this issue only on Chrome browser running on Mac or Windows. On Ubuntu it works just fine (

[2013-12-25 22:38] starwed commented on #668
I don't think that would be related to #656, which is about the position on the sprite sheet not being set correctly.

Using Chrome on a Mac, I don't see that problem just displaying DOM sprites, so it's more specific than a general rendering problem.

Are you doing anything with the viewport?

If you could put together a jsfiddle (or show us the code somehow), that would be really useful.

[2013-12-25 22:43] starwed commented on #412
Compared to the minimal bounding rectangle of the hitbox, not the circle.

[2013-12-26 11:27] mucaho opened #669 "SpriteAnimation Examples not working"
The examples listed in the [SpriteAnimation API](http://craftyjs.com/api/SpriteAnimation.html) do not work for me.

In particular when defining the reel the automatic way

[code]

it does not work. When defining the reel manually

[code]

it works.

[2013-12-26 12:01] potomak commented on #669
I used the first signature without problems in Loop Desert only one week ago, see source at http://giovanni.curlybrackets.it/ld28/loop-desert.js and example at http://giovanni.curlybrackets.it/ld28/

[2013-12-26 12:06] mucaho commented on #566
You can also put that example in the [Collision](http://craftyjs.com/api/Collision.html) api documentation instead of adding an explicit api function.

[2013-12-26 12:35] mucaho commented on #669
Thx potomak, I have investigated further using the official Crafty v0.6.1

[code]

The above code does not work with DOM rendering on Chrome.
The commented reel definition does not work (tested in FF&Chrome).

[2013-12-26 16:32] starwed commented on #669
This sounds like #664, which should be fixed in the develop branch now.  I suspect that was a buggy behavior in webkit, but I couldn't figure out how to reproduce it outside of Crafty.

The commented out portion specifies a reel consisting of a single frame, while the line below it has two frames.  Does it work if you change it to `ent.reel('PlayerRunning', 1000, 0, 0, 2);`?

It does look like one

[2013-12-26 17:31] pawurb commented on #668
https://github.com/pawurb/Siorb a repo of my project.

You can find the incorrectly rendered entities in src/entities

If you find it too messy let me know and I will try to reproduce bug with some simpler js fiddle.

I am manually changing the x and y of viewport in relation to hero's position but problem persists even after disabling it.

[2013-12-26 19:06] mucaho commented on #669
Yay it worked! Would you please update the examples / documentation accordingly (considering that you have the most clue how it works :) )?

[2013-12-28 05:34] starwed commented on #669
@mucaho Ok, I think I updated the docs correctly? Take a look at #672 if you want to check.

[2013-12-28 21:22] starwed commented on #552
If you hold down `cmd`, then press the arrow, then release the arrow _before_ the cmd key, no keyup event fires in  Crafty.  I don't think it actually has to do with the `e` key at all -- though that probably makes it more likely that you release the keys in a particular order?

Since the entity never gets the key up event, of course it keeps moving in that direction.

[2013-12-28 21:36] starwed commented on #552
Ah, this is just a general behavior on Mac:
- [On a few things you may not know about the hellish command key and javascript events](http://bitspushedaround.com/on-a-few-things-you-may-not-know-about-the-hellish-command-key-and-javascript-events/)
- [NSResponder not receiving keyUp event when Cmd ⌘ key held down](http://stackoverflow.com/questions/16604056/nsresponder-not-receiving-keyup-event-whe

[2013-12-28 21:54] starwed commented on #552
Hmm, the original issue was on Windows, which shouldn't have this particular problem.  But I don't have a windows machine to test on, and I can't reproduce on a mac.

Something very similar can occur when the window loses focus (we can't track keyup events when out of focus), so maybe that's related on windows?  The solution would be to do something similar to my suggestion above when we lose focu

[2013-12-28 21:59] starwed commented on #340
Anyone have an iPhone/etc that would let them work on a fix for this?  (Is it still an issue?)

[2013-12-29 15:18] pawurb commented on #668
Preparing the js fiddle for you I discovered that problem disappears when you host sprites on external website.

http://jsfiddle.net/chRuz/

If I run the same code on my local machine with 'runner1.png' loaded from local disc, blinking reappears. Do you have any idea what might be causing it ?

I checked it against the develop and master branches versions.

[2013-12-29 18:16] kevinsimper commented on #668
Are you using apache or loading by file://?

[2013-12-29 18:32] pawurb commented on #668
When I run it locally I open html file in a browser using file:// . Or if you ask how I load assets I use a path relative to the game html file.

[2013-12-29 18:46] kevinsimper commented on #668
You should check out http://harpjs.com/

It is like apache, buy 100x times easier.

There is problems when using file:// because browsers try to lock down what you can do, because of spyware and such, so functions like ajax do not work like it does on www.

[2013-12-29 19:03] potomak commented on #668
@kevinsimper I always use `file://` while debugging, there shouldn't be downside with it other than ajax requests as you've said.

@pawurb you should note console errors if the `file://` protocol is preventing resources loading.

The _fastest_ way to set an HTTP server to serve static resources is using Python's `SimpleHTTPServer`:

[code]

More details at http://www.linuxjournal.com/content/tech-

[2013-12-29 19:50] pawurb commented on #668
@potomak I did not get any console errors. Images were loaded correctly but were blinking.

I could not get it working with `grunt-contrib-connect` althought I ran the server and changed assets path to use it. Images were still blinking.

However `SimpleHTTPServer` works like wonder. I can run the html file using `file://` protocol but assets have to be served using server. Any idea why and should

[2013-12-29 20:48] kevinsimper commented on #668
You should checkout Harpjs which is a Node.js module as mentioned before, it also provide coffeescript support:

`npm install harp -g``

and then just `harp serve` in the dir you want to run from: http://localhost:9000

The assets does not work because of the progress event is deactivated.

Since it is not a crafty issue i am going to close this.

[2013-12-29 20:52] kevinsimper commented on #663
That is a relevant problem and should be optional.

But i do not see how your gist change anything, you just moved the anonymous function to a named function?

[2013-12-29 21:20] starwed commented on #663
They want to unbind the function when Crafty.stop() is called.  To unbind the function, it's necessary to have a reference to it -- impossible with anonymous functions.

[2013-12-29 21:22] ryansmith3136 commented on #663
That is correct. A named function makes it possible for us to remove the listener.

Here are the docs regarding removing listeners: https://developer.mozilla.org/en-US/docs/Web/API/EventTarget.removeEventListener

[2013-12-29 21:27] starwed commented on #668
Hehe, searching google for this issue actually turned up a thread in the crafty group as the first result.  [This thread](https://groups.google.com/forum/#!topic/craftyjs/FJ1M0gFiPTs) describes the issue and it's cause -- it has to do with how chrome caches local images.

The blinking was caused by chrome reloading the image every frame.  I suspect there _is_ something we could do to mitigate this

[2013-12-29 22:15] kevinsimper commented on #663
Ah, the first thing you get blind on is the eyes.

[2013-12-30 00:03] potomak commented on #663
I think that the problem is worse than that because Crafty is preventing default on `window` so scrolling is completely disabled on touch screens.

[2013-12-30 00:11] starwed commented on #663
That's normally what you'd want with games, of course.  But there should definitely be a way to disable it.

[2013-12-30 00:12] starwed commented on #668
[This chromium bug](http://code.google.com/p/chromium/issues/detail?id=102706) is probably relevant.  (We display a sprite by using the `background-image` property.)

[2013-12-30 00:41] potomak commented on #663
when they are full screen...

I agree.

[2013-12-30 00:44] ryansmith3136 commented on #663
This is true, but we were dealing with a home screen as well. So in this case, crafty modified the global environment which consequently affected screens which were outside of the game.

[2013-12-30 15:25] kevinsimper commented on #663
Which you are when you are on mobile, so touchmove should be disabled to avoid strange behavior.
https://github.com/craftyjs/Crafty/blob/ca1d96d825d4b37013c2b7248eba823bcb0b6d4b/src/viewport.js#L479-L480

But i think it is a error that on mobile it is default fullscreen without any way of changing it :-1:

[2013-12-30 15:34] kevinsimper commented on #340
It is because Crafty.js sets it to fullscreen no matter what you define, strange behavior, as seen here:

I just wrote about it here, before I saw this #663

https://github.com/craftyjs/Crafty/blob/ca1d96d825d4b37013c2b7248eba823bcb0b6d4b/src/viewport.js#L479-L480

[2013-12-30 21:06] #412 closed, assigned to nobody

[2013-12-30 21:11] starwed opened #675 "Documentation tracking bug"
I noticed several issues in the documentation, thought having a single issue to track this would be a good idea.  Includes both errors in the raw docblocks and the parser.
- [x] Crafty.modules should mention that there are issues with the components site. ([potomak's comment](https://github.com/craftyjs/Crafty/pull/674#issuecomment-31336075))
- [x] The SaveData and LoadData events aren't documente

[2013-12-31 05:45] #669 closed, assigned to nobody

[2013-12-31 14:00] potomak commented on #529
I successfully deployed version 0.0.1 of the new Crafty Components site, see http://crafty-components.jit.su/
There's a lot more to do but I think we could start by adding a CNAME at components.craftyjs.com (@louisstow) or at craftycomponents.com (@ahilles107) that links to crafty-components.jit.su.

The new Crafty Components is much more simpler, it relies on webhooks (it works only with github w

[2014-01-02 10:01] kevinsimper opened #677 "Math Matrix2D invert fails in Chrome"
There is one test which fails in Chrome, but not in PhantomJS, Safari or Firefox.

It is because of the long decimals:

![image](https://f.cloud.github.com/assets/1126497/1831489/e48efe3a-7391-11e3-842c-9dafea1ee71e.png)
![image](https://f.cloud.github.com/assets/1126497/1831571/82d46682-7394-11e3-9447-a5f1f6adf990.png)

But then i saw in Firefox that the e value switch between -0, and 0;
![image]

[2014-01-02 10:20] kevinsimper opened #678 "The Storage test fails"
The storage test fails, which pretty much means that the Crafty.storage does not work.

I vote for that it gets stripped out, because it seems nobody uses it, and if people do, they should use a more crossbrowser friendly library, which also was suggested in #432

[2014-01-02 10:42] potomak commented on #678
:+1:

I'm totally agree about stripping storage out of Crafty.js.

[2014-01-02 19:18] starwed commented on #678
I think storage should be a part of Crafty -- a large number of games need this functionality.

We might look at directly incorporating a third-party library with a compatible license, and wrapping it in Crafty-friendly code.

Or perhaps we could just provide wrapppers for a couple of popular libraries.

[2014-01-02 19:20] starwed commented on #677
This is definitely a bug in the test -- I think this came up elsewhere, and I just used a function to round things to 6 decimal places.

[2014-01-03 08:04] kevinsimper commented on #677
If you round to 6 decimals, it would still fail because it is different already at the 4th number.

[2014-01-03 14:51] roborourke commented on #668
I saw behaviour like this when my sprite was set up as a shared part of a component eg:

[code]

When I created the sprites in a more global scope the flickering disappeared.

[code]

The example is reduced down somewhat, in my case there's just some code to add a random start position to the shapes. Let me know if you want to see a full example or if this helps at all.

[2014-01-03 22:17] starwed commented on #677
Huh, you're right -- that's a surprisingly large difference.

[2014-01-03 22:31] starwed commented on #677
The error term is probably so large because rather than test inverting an explicitly defined matrix, it inverts `(new Matrix2D()).scale(2, 3).rotate(Math.PI / 2)`.

`Math.cos(Math.PI/2)` isn't exactly 0, so this error probably propagates in an unpleasant way.

I'd assume that if we inverted something specified explicitly, we wouldn't get this sort of error.

[2014-01-04 22:40] starwed commented on #668
@sanchothefat

`Crafty.sprite` is kind of like a factory that defines components globally.  Calling it multiple times within components, you're redefining what the "circle" component is each time.  I'm not surprised that would cause some weird graphical issues, especially if it's something you do each frame.

I don't think it has anything to do with this particular bug.

[2014-01-06 01:53] #330 closed, assigned to nobody

[2014-01-06 16:08] bayleedev opened #683 "Crafty.m('Score') - Crafty Models!"
What are thoughts on adding model support? Components I feel have logic but should only have view-related logic like position, movement, keyboard shortcuts, etc. Where a model might have more business logic.

For instance you might win or lose the game when one score object gets to 10? I might also need to sync that with the server to keep track of things. One model might also be shared across mul

[2014-01-06 16:15] starwed commented on #683
Maybe I'm being dense, but I guess it's not clear to me from your description what this provides that's currently missing.  The "Score" model doesn't seem to do anything different from a regular component?

What features do models have that components don't?  (The `on()` syntax seems to be `bind()` with a different name, but again, maybe I'm just being dense.)

[2014-01-06 16:25] bayleedev commented on #683
Well like I said, a model could be shared across multiple components with shared data and events that bind them. Right now I see components having view and business logic and I feel those should be separate.

You are right though, functionality wise, they don't provide anything components don't... since I believe you can trigger custom events on entities, right?

Maybe I'm just too headstrong abou

[2014-01-06 16:35] starwed commented on #683
Yes, that's a pretty major part of how Crafty is intended to be used.  You can trigger events both on specific entities or globally.  If you want to create something like your model with the existing code, I'd probably do something like:

[code]

Then the "Ball" component would just trigger "IncrementScore", and the "Score" component would bind to "UpdateScore".   Doing it this way, you wouldn't n

[2014-01-06 16:39] starwed commented on #683
Just to be clear, I have no experience working with the type of setup I think you're used to.  So if there's something I'm missing don't hesitate to lay it out.  :)

[2014-01-06 17:01] bayleedev commented on #683
You're triggering/binding to global `Crafty` events though, right? Is it possible to trigger/bind those directly to the entity so it doesn't cloud it up?

[2014-01-06 17:03] bayleedev commented on #683
Regardless, because they don't add extra functionality this is probably just me being inexperienced at these game things. If I really want this I can just create a 'Model' and/or 'Observer' components and try my bestest to keep them separate to make me happy. Thanks for talking  it out with me!

[2014-01-06 17:06] starwed commented on #683
Sure, that would just require the same sort of glue code you used.

"Ball" would use the same sort of setup code you had, and then use `this.score.trigger("IncrementScore")`.

The easiest way to trigger an event on a subset of entities is again through components.  `Crafty("MyEventListener").trigger("UpdateScore")` will trigger the event only on entities with the "MyEvenListener" component.  This

[2014-01-06 17:42] starwed commented on #178
Should be fixed by PR #665?

[2014-01-06 17:42] #178 closed, assigned to nobody

[2014-01-06 17:48] mucaho commented on #416
@starwed can you close this now, please? as it was actually the primary objective of #665 :)

[2014-01-06 17:51] starwed commented on #416
Hah, sure.  :)

There is some magic phrase that will close an issue automatically when a PR lands -- I think if you include the words `Fixes #416` in the commit message it will happen?

Although maybe you need the correct permissions.  No idea!  :)

[2014-01-06 17:51] #416 closed, assigned to nobody

[2014-01-06 17:55] #677 closed, assigned to nobody

[2014-01-06 18:56] mucaho opened #685 "errors running npm install"
anyone else having issues running npm install in order to install the node modules? in particular I get a lot of errors mentioning `grunt-browserify` and `npm ERR! git clone git://github.com/feross/base64-js.git undefined`

[2014-01-06 19:11] starwed commented on #685
Yeah, I had some errors trying to run `npm update` the other day, but couldn't tell if it was something wrong with our package.json file or my local setup.

I think maybe the way we're specifying which version of browserify to use is causing problems.  When I removed the tilde from `"grunt-browserify": "~1.2.9"` it seemed to fix things.  There's a new version out anyway, so we should probably swit

[2014-01-06 23:59] bayleedev commented on #683
@starwed looks like `attr` already does events on data changes so I just added a little sugar:

[code]

So in theory I could do something like...

[code]

All is right with the world :heart:

[2014-01-07 01:06] kevinsimper commented on #416
https://help.github.com/articles/closing-issues-via-commit-messages :+1:

[2014-01-07 10:20] mucaho commented on #685
I tried both `1.2.9` and `1.3.x` with no success. It's rather unfortunate, I can't build crafty at all. I guess the problem is on my end somewhere.

[2014-01-07 10:37] timgluz opened #686 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of craftyjs/Crafty!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, _224_ of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070** of them don't

[2014-01-07 12:16] kevinsimper commented on #686
@timgluz We use the release branch and do not have a master branch unfortunately.

But it seems your are posting randomly, without checking the repo: https://github.com/craftyjs/Crafty/blob/develop/bower.json

[2014-01-07 12:17] timgluz commented on #686
ok, thanks.

[2014-01-07 12:17] #686 closed, assigned to nobody

[2014-01-07 12:30] kevinsimper commented on #686
But we did have a problem that Bower could not install the version 0.6.0 https://github.com/bower/bower/issues/998

How can that be?

[2014-01-07 12:42] kevinsimper commented on #685
I downloaded and uploaded a version of grunt-browserify for you:
http://ge.tt/6QssftC1/v/0

[2014-01-09 01:14] starwed opened #687 "WebGL support"
I started toying around with adding a WebGL backend on Monday, and it's actually come together pretty quickly.  The idea here is to render sprites using a webgl context rather than the standard canvas.  So it won't draw 3D models, it'll just do what Canvas does, faster.  (Well, hopefully faster!)

I have the basic viewport and 2D capability working -- I can render colored squares using a WebGL com

[2014-01-09 01:40] kevzettler commented on #687
Awesome!

[2014-01-09 09:07] mucaho commented on #685
Thank you kevin! You uploaded the dependencies for me, now i just have to paste in the code for grunt-browserify. Closing this issue, as it's only on my end obviously.

[2014-01-09 10:26] mucaho commented on #687
Nice idea. Let me share my thoughts on the current state of your webgl implementation:
- Many game libraries use something called **sprite batching**: Transmitting data (like your x,y,w,h, etc uniforms) is very costly if done on a per-entity basis. That is why you normally buffer up all your data (like x,y, etc) for each texture, before you send it to the GPU. Now if you have a huge sprite map con

[2014-01-09 16:42] kevinsimper commented on #683
I think there is a need for models, especially when your game gets very large, but it is more advanced and maybe too complicated for people starting with Crafty.

`.on` would be an awesome function, so that you could bind functions to entity events, instead of global events which can be polluted. Like the event `change:points` could be used by many components.

@blainesch Did you use backbone.js i

[2014-01-09 18:31] bayleedev commented on #683
@kevinsimper yes my examples are based on backbone models, which I decided to end up using in my project. The backbone models provide a lot of functionality that took longer than I thought to replace.

Besides syncing the data to the server I did end up making the lot of the functionality in various components. You can see   [that code here](https://github.com/blainesch/pong/commit/5e2530d1f9ba349

[2014-01-09 21:20] kevinsimper commented on #683
@blainesch Where or how do you extend the Crafty entity with the Backbone model, because i do not see anywhere in that file that makes use of Backbone events? The "this.trigger" still referer to the global Crafty events

[2014-01-10 00:41] bayleedev commented on #683
@kevinsimper I decided to drop creating crafty "component models" idea I linked to above, and just use backbone models completely.

I believe triggers only happen on the specific entity, maybe by accident?

[code]

[2014-01-10 10:21] kevinsimper commented on #683
@blainesch Yes, you are right, you can do events on entities, which are also on local entities only :) But you can not do this: `this.score.on('change:points'` without Backbones model, so you only get a change event when a certain property change. That could be cool to have in Crafty.

[2014-01-10 16:02] bayleedev commented on #683
If this was implemented in crafty, how would it look? We could just update `attr` to trigger change events for all attributes? We could add a `model`? Or just tell people to just use backbone? :D

I'd be happy to submit a pr for this.

[2014-01-10 17:02] kevinsimper commented on #683
I think it would be a improvement.We should try changing the `.attr` function. I think there should also be a silent option as Backbone does.

The docs should also mention as it is only the public function that trigger change:name events, you will not get events when Crafty change attr internally like when tweening and other.

[2014-01-10 22:43] starwed commented on #683
Random thought that might help with this sort of architecture: we could allow something like jquery's selectors to work on event objects.  The syntax could be something like

[code]

The bound function would only be called when the event matched the stated criteria -- in this case, if the event object had a field `eventProperty` that matched the value `'filteredValue'`.

Some events just pass stri

[2014-01-11 00:41] starwed commented on #687
- Added resizing, though for various reasons it depends on a patch to the rest of Crafty.
- Added scaling, this was pretty easy, of course

I've looked at transparency, and we can just sort the list of entities before rendering.  (Before I started this I hoped that wouldn't be necessary, but we already do something similar for canvas.)  So that shouldn't be too bad, especially if we're smart about

[2014-01-11 01:56] starwed commented on #687
@mucaho If your'e talking about [uniform buffers](http://www.opengl.org/wiki/Uniform_Buffer_Object) here, they're apparently not usable in WebGL, which is based on ES 2.0.  :(

[2014-01-11 10:47] mucaho commented on #687
I meant vertex arrays/buffers.

Take your time to figure everything out, but in the end you will have to avoid uniforms:

Shader stage inputs refer to vertex attributes in the case of vertex shaders. Vertex attributes is what OpenGL has in mind to pass on entity specific attributes.

[2014-01-11 19:13] starwed commented on #687
Yeah, I'm slowly figuring this stuff out.  :)

It looks to me like we'll want to provide some settings for the user to improve performance -- disabling partial transparency, for instance, could speed things up.

[2014-01-11 21:56] kevinsimper commented on #683
@starwed That could be nice. What could it be that you would want the `"Change[eventProperty='filteredValue']"` when you know the value.

Would it be an event something like this  `"Change[life='0']"`?

But I would prefer more local events like do that on the entity themselve, also something like points.

[2014-01-11 23:52] kevinsimper commented on #678
Made a pull request for a new storage function #692

[2014-01-11 23:52] #678 closed, assigned to nobody

[2014-01-12 00:56] starwed commented on #683
Some events might have an `id` type attribute that tells you what is changing.  For instance, the "StartAnimation" event object will tell you what animation is starting.  So you might want something like `e.bind("StartAnimation[id='running']`).

Fairly limited use case, but pretty easy to implement if the `Event[attrib]` syntax already existed.

[2014-01-12 04:38] bayleedev commented on #683
So something like:

So for data:

[code]

Events:
`Change[name]` if anything inside of name changes
`Change[name.first]` if you change the first name
`Change[name.first=='Blaine']` triggers when I set the first name to `Blaine` Only works on string values, maybe numeric.
`Change[name.first!='Blaine']` when the current value is `Blaine` and I change it to something else. Only works on string values

[2014-01-12 05:41] starwed commented on #683
I think at first it'd be a good idea to implement this as an extension to Crafty, rather than part of its core.  Luckily that's pretty easy to do with `Crafty.extends`.

Specific improvements necessary to implement it, like the discussed augmentation of the `bind` syntax, could be merged directly into Crafty.

Then with a working model system, it'd be easier to evaluate whether it would make sense

[2014-01-12 11:35] kevinsimper commented on #683
@blainesch I do not think we need other than a change event for starter, where you can define a attribute and an value by doing this `e.bind("change[health='0])`

[2014-01-12 19:04] bayleedev commented on #683
@kevinsimper I don't think I understand what you meant.

I believe you were saying you don't think we need anything except for change events, and we should be able to define attributes in a bind call?

The second part doesn't sound right...

[2014-01-13 01:54] starwed commented on #687
Got a working implementation of "Sprite".

[2014-01-13 08:51] starwed commented on #687
I've been exploring the options for transparency.  I think it would make sense to let the user toggle between three modes:
- Full transparency, where the objects are sorted before rendering.
- No transparency, since it'll be faster to not sort if you don't need it
- "Binary" transparency, where anything other than opaque pixels are discarded rather than drawn.  This would work if you had a bunch o

[2014-01-14 23:26] #482 closed, assigned to nobody

[2014-01-15 10:16] kevinsimper opened #697 "AddEventListen on error in the audio function"
The only event that gets listen to is the `canPlayThrough` event. Crafty should also listen to the Error event, as there can be several reasons why a audio element does not load.

https://github.com/craftyjs/Crafty/blob/develop/src/loader.js#L198

[2014-01-15 14:54] starwed commented on #697
What _is_ the error event?  Is it [stalled](https://developer.mozilla.org/en-US/docs/Web/Reference/Events/stalled)?

[2014-01-15 17:55] kevinsimper commented on #697
I think it just Error, but haven't had time to test.

http://stackoverflow.com/questions/13614803/how-to-check-if-html5-audio-has-reached-different-errors

https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Media_events

[2014-01-15 17:56] kevinsimper commented on #697
But `stalled` seems pretty describing also too, hence the description: "The user agent is trying to fetch media data, but data is unexpectedly not forthcoming."

[2014-01-15 18:06] kevinsimper commented on #576
I tried getting Crafty.js running on CocoonJS, but with no luck.

There is something Crafty does, that CocoonJS does not like.

I stripped out all DOM because that will not work in CJS, and just to avoid any coincidence.

You can test with this URL
http://kevinsimper.github.io/Crafty/test/

Did also create a post on their website.
http://support.ludei.com/hc/communities/public/questions/200687968-

[2014-01-16 15:32] starwed commented on #697
Hmm, we do actually listen to the error event for audio.  We [always reach the line](https://github.com/craftyjs/Crafty/blob/develop/src/loader.js#L217) `obj.onerror = err`.  (It's outside of the media type `if` blocks.)

[2014-01-16 16:26] kevinsimper commented on #697
I can maybe be that the onerror function is attached too late.
http://stackoverflow.com/a/10791300/804984

But when i try that myself, it works fine setting it afterwards:
http://jsfiddle.net/3vxCu/32/

But in this example the onerror function does not fire, even through the file does not exist:
http://jsbin.com/IqArecAB/1/edit

[2014-01-17 03:46] donaldducky commented on #573
I've also noticed if you use `.image(url)` twice with the same url (without preloading the images), only one `img.onload` event fires, so the second one doesn't get drawn. I'm trying to load images on the fly.

+1 on updating the image loading method.

[2014-01-17 13:42] starwed commented on #573
That's a somewhat separate issue -- when you try to load an "Image" element with a url that hasn't been used yet, it creates a new asset and listens for the onload event.  The second element sees that the asset exists, and so trys to create a pattern with it before it's loaded.

For now, you'd probably be better off using [Crafty.sprite](http://craftyjs.com/api/Crafty-sprite.html) to add images on

[2014-01-17 14:11] donaldducky commented on #573
Yeah, it's not too complicated of a problem to fix.
I tried searching for image related loading issues and saw this.
If you want, I can create a new issue for it.

I'll try out the Crafty.sprite thing, thanks!

[2014-01-19 23:28] ashes999 commented on #552
I can reproduce this in my game with `CTRL`+`UP`+`E`. I'll post a link shortly (as soon as I resolve a different key-binding issue).

Link: http://deengames.com/labs/a-day-and-a-night-v0-1/

[2014-01-21 17:53] mucaho commented on #687
What do you mean by sorting?
- Currently DOM and Canvas draw entities with higher z later than entities with smaller z, right? Can't we let the user manually adjust the z coordinate if he needs transparency to work correctly?
- Or are you referring to sorting the objects according to their z coordinate before rendering with webgl?

[2014-01-21 18:38] starwed commented on #687
What I meant was that to support transparency, we'll have to sort the entities before rendering them.  I think this actually had a noticeable cost when doing full-screen canvas redraws.  (Though probably we can mitigate this quite a bit by maintaining an ordered list -- then we only need to sort when something changes z-value)

So if you didn't have any sprites with partial transparency, you might

[2014-01-21 21:46] mucaho commented on #687
Hmm can we cache the sorted data structure somehow? Like we have a sorted
list, new entities have to be inserted and entities that change order
(listen to z attribute change) have to be removed and reinserted. Would
that speed up the performance instead of sorting the entities each time
rendering is done?

On Tue, Jan 21, 2014 at 7:38 PM, starwed notifications@github.com wrote:

[2014-01-21 21:51] mucaho commented on #687
Oh, that's exactly what you wrote in one of your posts before :)

On Tue, Jan 21, 2014 at 10:46 PM, Matija Kucko mkucko@gmail.com wrote:

[2014-01-22 18:03] kevinsimper commented on #663
Crafty now only ignores on the crafty stage element, and not the whole window now. This should not prevent scroll now.

[2014-01-22 18:03] #663 closed, assigned to starwed

[2014-01-22 18:50] glaksmono commented on #340
@starwed So, here are the things that I had to do to support Retina display:

[code]

and edit the viewport initialization on Crafty to:

[code]

https://github.com/craftyjs/Crafty/blob/178726feaf01a614f19dc485c237650d8fe65557/src/viewport.js#L482

Then I have to do this, after initializing the Canvas using _Crafty.canvas.init()_:

[code]

That will give me the following final element:

[code]

[2014-01-22 19:41] kevinsimper commented on #639
I have looked and could not find any ie8 code more. Are there more?

[2014-01-22 19:42] kevinsimper commented on #566
This should be a external component and not a core function.

[2014-01-22 19:42] #566 closed, assigned to nobody

[2014-01-22 19:49] kevinsimper commented on #346
I don't think it is worth it make custom code to make another div inside the entity, and also since Android phones on 2.3 is more or less used as "dumbphones" now and not for playing javascript html5 games. 2.3 is also under 25% now.

[2014-01-22 20:18] bayleedev commented on #566
Maybe instead of `e.onHit` we could move it to `.on('hit')` at which point we could do `once('hit')` ?

[2014-01-22 20:42] starwed commented on #346
Yeah, it's actually at ~20% now.  (I think it was higher even just last month -- guess a lot of folk get new phones for xmas!  :) )

I'm going to go ahead and close this.  (If it turns out to affect later versions, we should reopen.)

[2014-01-22 20:42] #346 closed, assigned to nobody

[2014-01-22 20:44] starwed commented on #639
There might be a couple of places where we dance around IE8 specific bugs, but I think all the code that specifically _supports_ IE8 (alternate code paths and the like) is gone.

[2014-01-22 20:44] #639 closed, assigned to nobody

[2014-01-22 21:25] kevinsimper commented on #340
@glaksmono

This is not nessasary, since it only get the dom width and heigh IF the width and height is undefined.

Basically you make the canvas twice as large as the screen and then halfs it with css.

That is not a viable solution as you can read here:

[2014-01-22 21:31] glaksmono commented on #340
@kevinsimper ah, I actually was mistaken.. the Crafty edit should be on this one (as you specified):

https://github.com/craftyjs/Crafty/blob/ca1d96d825d4b37013c2b7248eba823bcb0b6d4b/src/viewport.js#L479-L480

[2014-01-23 08:34] kevinsimper commented on #340
@glaksmono It has been fixed in the develop branch :) in this pull request #690
https://github.com/craftyjs/Crafty/blob/develop/src/viewport.js#L482-L483

[2014-01-23 18:20] glaksmono commented on #340
:+1: @kevinsimper that leaves us on how to support Retina on Canvas.. I found it much easier to use DOM to support retina, so I decided to go for that options for now

[2014-01-23 20:48] glaksmono commented on #32
There is also https://code.google.com/p/jsbox2d/source/list which seems to be more maintained and up-to-date

[2014-01-24 22:46] starwed commented on #687
I have it drawing colored squares in batches now.  Yay?  :)  (The architecture will currently process objects in _z order, and render a batch when it encounters an entity that requires a different shader program.  For sprites, that means everything with the same sprite sheet will be rendered in one big batch.)

One issue is that there's a _lot_ more code involved with implementing a component for

[2014-01-25 02:01] starwed commented on #687
Got the batching working with sprites.

In a benchmark which just draws ~100 sprites bouncing around the screen, the WebGL backend seems about twice as fast as the canvas.  (And there are definitely some optimizations I can do there.)  So that's hopeful!

Also, it looks like it works just fine as a drop in replacement for Canvas.  So it'll hopefully be easy to switch between them based on browser

[2014-01-25 02:04] mucaho commented on #687
Congratulations. We can increase performance further.

Do we really need seperate shader programs? Consider the following possibility:
- Unify both Sprite, Color and Tint rendering into one shader program, send vertex attributes uniformly & infer the "rendering mode" inside of the actual shader programs depending on the vertex attributes
- e.g. to determine "vertex shader rendering mode": `uniform

[2014-01-25 02:10] mucaho commented on #687
Shader programs with branching code is a bit harder to write if you do not have branching control structures (**if .. else ..**) support in the shader language. Do WebGL shaders support **if & else**? If not, I could show you a mathematical pattern to emulate branching.

[2014-01-25 02:11] starwed commented on #687
I've read that having conditional branching in shaders is not necessarily a good idea, because it can slow down the execution.  I don't have much experience here, of course.

It's actually a pretty likely scenario that every asset will use the same program -- everything will be sprites using the same texture.  If color entities are used for bullets or particles, they'll probably all have the same

[2014-01-25 02:13] starwed commented on #687
(Oops, hit the wrong button!)

Isn't there an issue with rendering multiple textures in one pass?  So you'd have to do some context switching regardless.

[2014-01-25 02:28] mucaho commented on #687
Yeah exactly, that's why I suggested the "mathematical branching" approach, as the executions times are exactly the same for every shader run (which is very beneficial for pipelining thousands of shader executions, like you read correctly).
On the other hand I am sure there is an even easier way to combine the functionality without branching much.

In such a case, the shader would be set to the us

[2014-01-25 02:39] mucaho commented on #687
That's actually a very valid point, but if we can remove the "chance" entirely and make it better in reasonable time without reasonable downsides, why not? :)

[2014-01-25 15:59] mucaho commented on #687
After sleeping over it: I was wrong, it would actually have a more negative performance, as the color-rendered entities would do unnecessary texture lookups.
However Tinting and Spriting are almost the same, you just pass on an additional color vertex attribute and multiply the texture color with that varying color attribute.  For drawing sprites without tinting the color attribute is neutral, thu

[2014-01-25 16:43] starwed opened #704 "Release 0.6.2"
Are we ready to release 0.6.2?  No one has mentioned any regressions.   (The changeset was much smaller than the bump to 0.6.)

There might be a couple of small fixes that have landed in develop that we'll want to pull in.

[2014-01-25 19:22] kevinsimper commented on #704
Yes, i would think so.

Could this commit maybe be picked for release also? I would be a step towards better mobile support. https://github.com/craftyjs/Crafty/commit/8c329bdbb3ec0c1c62d092b3c2ed67f71273dbc5

[2014-01-25 21:39] ashes999 commented on #704
Can we also include updating the wiki page on officially supported platforms? That's really important going forward, and especially when you think about mobile support.

[2014-01-25 21:41] ashes999 commented on #552
Can we please get this fixed in 0.6.2? @starwed

[2014-01-26 13:17] ashes999 commented on #552
I think I figured out the root problem.

After playing around, I noticed that this only happens when you have events that change focus **from the game to the browser window**.

For example, in Chrome:
- CTRL+H (history) - opens a new window
- CTRL+F (find) - opens a find box
- CTRL+G (find next) - opens a find box
- CTRL+E (change address bar value) - moves cursor there

The simplest repro case is

[2014-01-26 15:44] mucaho commented on #685
Just an update: npm install is magically working again :)

[2014-01-26 15:57] ashes999 commented on #552
I have a partial resolution here: https://github.com/ashes999/Crafty/commit/7076c862811f914d1bc1a7cfbc845bd367553bf9

Currently, I trigger the `Blur` event with this code in my `index.html` file:

[code]

**Edit:** I changed the event from `Blur` to `CraftyBlur`, and added `Crafty.addEvent(this, document.body, "onblur", Crafty.detectBlur);`, but it seems that the event is not firing for these case

[2014-01-26 17:05] starwed commented on #552
@ashes999  You've essentially got the right idea -- when we lose focus, treat that as the same as a keyup event for the whole keyboard.

We wouldn't want to fix this locally in "Multiway", however.   It should be "at the source", in the same part of the engine that fires the "KeyUp" and "KeyDown" events.

Thanks for figuring out the specific source of the CTRL+E bug!  We should also fix the CMD+an

[2014-01-26 17:53] ashes999 commented on #552
Ok, I'll see if I can fix this. What I need from you is:

1) Please read my updated comment about binding `Crafty.detectBlur` not working in `addEvent`
2) Where is the "source" of firing the events? Can you point me in the right direction?

If the root cause is the same on Mac, this will fix it there, too.

[2014-01-26 21:33] kevinsimper commented on #552
I would think it would be the same on mac as on Windows (Cmd + e does `Uses selection for find`)

[2014-01-26 23:47] starwed commented on #552
There's a related problem on Mac that makes things more complicated -- as described above, when the cmd key is down, it'll register keydown events but not keyup.

So
- When the window loses focus or cmd is down, we trigger keyup events for all keys
- We also stop registering keydown events, since we can no longer track keystate properly
- When we get focus back or command is released, we go back t

[2014-01-27 21:25] starwed commented on #704
Looks like we can just merge develop into testing directly -- we've only picked up small changes and doc fixes, so nothing that will break things.

[2014-01-27 21:28] starwed commented on #704
I'm going to bump the version number, and then push a release candidate to testing.  Then we'll just need to do whatever the heck it is that bower requires, and merge with release.

[2014-01-27 21:36] starwed commented on #704
@ashes999  Updating the wiki or craftyjs.com can occur independently of a release -- it's only the auto-generated api documentation that's tied to a particular version number.

[2014-01-28 01:33] ashes999 commented on #704
@starwed I don't mean the wiki nor craftyjs.com. I mean actually filling out the page so that once 0.6.2 is out the door, we can point to this page and say "look everybody, here are the officially supported minimum versions for CraftyJS." Not for this version in particular, but in general (I don't see any value in maintaining this information historically).

[2014-01-28 16:49] potomak commented on #704
@starwed @kevinsimper what do you think about #707 ?
I found it pretty _blocking_, if confirmed it would be useful to include the fix before releasing the new version.

[2014-01-29 20:38] starwed commented on #704
Yes, we should definitely pull in a fix for that issue in #707.

[2014-01-29 20:41] starwed commented on #540
Ok, louis added me as an owner, and I enabled travisCI.  It seems to be working -- I got emails about the last two builds passing, any way.

[2014-01-29 20:41] #540 closed, assigned to nobody

[2014-01-29 20:49] starwed commented on #704
Ran the unit tests in Chrome 32, Firefox Nightly, and Safari 7.0.1  No apparent problems.

Would be nice if someone could check in IE 9 and 10.

[2014-01-29 21:51] starwed commented on #552
Fixed:
- Keys shouldn't stick due to loss of window focus

Remaining issues:
- Can get stuck due to cmd key nonsense on a mac
- ashes999 reports that Ctrl+H still messes things up on at least windows

[2014-01-30 09:18] danbruegge opened #709 "Crafty ignores polygon onHit()"
Hi, not sure if it is a bug or misuse from my side.

http://jsfiddle.net/haenx/85mhj/

The polygon will completely ignored onHit().

I wrote also a post on stackoverflow for a while.
https://stackoverflow.com/questions/20002536/craftyjs-ignores-polygon-onhit

[2014-01-30 15:00] kevinsimper commented on #540
@starwed That is really great! Could you enable testling.com also? :)

[2014-01-30 16:01] starwed commented on #709
That fiddle seems to be using a pretty old version of crafty (0.5.3).

That said, it seems like you're just missing the "Collision" component on the enemy.  Crafty falls back to simpler bounding box tests when one of the objects is missing an explicit collision polygon.

I'll go ahead and close this for now, but thanks for the report.  :)

[2014-01-30 16:01] #709 closed, assigned to nobody

[2014-01-30 18:00] starwed commented on #704
I noticed a couple of issues with the docs.  (Crafty.scene got really messed up.)  We'll want to fix those before pushing the release.

We need to switch back to a method that lets us generate the docs offline, so that we can see what they'll look like before committing.  :)

[2014-01-30 18:29] sbyrnes321 commented on #704
In the status quo you CAN look at the api docs on your computer (sorta). Just open it in a browser. It's ugly and bare-bones, but it's good enough to see that the "scene" docs are messed up.

(That said, I agree that a _proper_ offline preview is better.)

[2014-01-30 18:45] danbruegge commented on #709
Ok, this will work: http://jsfiddle.net/85mhj/12/

But how should i know, to define the "Collision" component to the enemy too?

Thanks for the help. :) Thats saved my day!

[2014-01-30 19:06] starwed commented on #709
Yeah, looks like the documentation is pretty vague about this.  I'll make sure it gets mentioned.

[2014-01-30 19:12] danbruegge commented on #709
Sounds good. Thx! :)

[2014-01-30 23:55] kenbellows commented on #529
Has there been any recent activity on getting the components available again? Currentl @potomak's site says it has no components in the index. Can we get access to them some way or another, even jsut to download and use locally?

[2014-01-30 23:59] kenbellows commented on #529
Short term, I've found that archive.org has a mirror from before the old site went down and it seems to still work okay. https://web.archive.org/web/20130704224536/http://craftycomponents.com/

If you guys would like some help, I'm willing to contribute to get this guy up and running again. Or is it just a matter of submitting the components again?

[2014-01-31 08:32] potomak commented on #529
@kenbellows you could add PR to old components to make them discoverable in the new components site. See https://github.com/craftyjs/CraftyComponents#how-does-it-work

[2014-01-31 20:45] mucaho commented on #704
We have already awesome source checking (with jlint and co). Is there a way to define rules for the documentation (comments)? And to check if every public (no underscore) method has documentation attached to it?

[2014-01-31 20:53] starwed commented on #704
This weird documentation issue is basically the only thing blocking the release now.  Somehow the fenced code blocks (using github style markdown) are being parsed incorrectly on a few pages.  I think it might be a bug in [marked](https://github.com/chjj/marked) (what the doc generator uses to parse markdown), but I'm not sure why it's only triggered _sometimes_.  :(

I'm not sure that auto-detect

[2014-01-31 21:26] starwed commented on #704
Ok, it's something to do with the trigger blocks.  Still not sure _exactly_ why it's messing up marked, but parsing the main body separately from the codeblocks seems to fix things.

[2014-01-31 21:42] starwed commented on #704
Merged a fix into develop+testing.  I think we're now good to go; just need to handle the stupid bower stuff properly.  :(

[2014-01-31 21:57] starwed commented on #704
Ok, tagged an official release.  @kevinsimper do you want to handle updating craftyjs.com?  That should be the last piece.  :)

[2014-01-31 22:18] starwed opened #711 "Canvas not being cleared properly while zoomed"
Reported on [stackoverflow](http://stackoverflow.com/questions/20491607/white-lines-at-zooming)

A jsfiddle using 0.6.2 [reproduces the issue](http://jsfiddle.net/ysDtQ/48/)

[2014-01-31 23:17] mucaho commented on #711
I can confirm the lines in Chrome; no problems in FF though

[2014-02-01 09:33] mucaho commented on #704
:+1:

Can't we just include the CSS that's on the server? Wouldn't that display the docs in a more friendly manner?

[2014-02-01 19:20] starwed commented on #704
The generated files aren't even really HTML -- they use jekyll style "front matter".  Adding CSS would help some, but I don't think we really gain much advantage from using Jekyll instead of something that we can run locally on node.

I guess it allows us to edit the header/footer without recompiling the docs, so that's something.

[2014-02-01 19:32] mucaho opened #712 "Drawing Layers & Static GUI"
I remember alot of questions/requests for static gui (that doesn't move when the viewport is scrolled). Here is a [recent post](https://groups.google.com/forum/#!topic/craftyjs/v-lsLk7aumk).
A not so performant way is to counter the offset of the viewport by moving the entities in the counter direction (see @starwed 's reply in the post).
Would it be smart to include such a feature in the craftyjs

[2014-02-01 19:52] starwed commented on #712
The ideal way to solve this is to refactor Canvas and DOM to support multiple layers.  Then each layer could set a parallax factor that describes how it responds to viewport scroll events.

Having separate layers for the background and UI should help  performance a lot, since they'd be much more static in general than something like Canvas.

There's quite a bit of intermediate work to do before tr

[2014-02-01 20:00] mucaho commented on #712
Excellent idea with the layers! Would you open an issue about the layer refactoring and post a bit more information about that?

I think it might not be worth to come up with temporary solution to static gui, as we have enough work cut out for us already ;)

[2014-02-01 20:34] mucaho commented on #576
I just had a look at CocoonJS. It's awesome, it would be cool if crafty games could be packaged into a single executable file and distributed cross platform.

[2014-02-02 22:11] kevinsimper opened #714 "Spelling error in Crafty.pause()"
https://github.com/craftyjs/Crafty/blob/develop/src/core.js#L956

says "mo", should say "no"

[2014-02-02 22:40] kevinsimper opened #715 "Api-doc makes double p-tags"
If you do `grunt release`, the api-doc will generate double p-tags.

Do not know why sadly.

I feel like the api-doc.coffee has too tightly coupled with the html, and it makes it hard to figure it out what happends.

Example:

[code]

[2014-02-02 23:16] kevinsimper commented on #704
@starwed I updated the documentation https://github.com/craftyjs/craftyjs.github.com/pull/33

[2014-02-03 15:12] kevinsimper commented on #709
Working jsfiddle to others: http://jsfiddle.net/85mhj/13/

[2014-02-03 15:27] starwed commented on #715
Possibly because the text gets fed through multiple passes of marked?  (A crappy workaround for #710).

Agreed, that made it a pain to figure out what was going on with 710.    So we should probably have two passes: first pull json data from the docblocks, and then generate the documentation from that data.  (I think you advocated for this idea previously.  :) )

The first step wouldn't be so bad;

[2014-02-03 15:32] starwed commented on #711
I see lines in both Chrome and FF, but in slightly different ways.

After reading over the code again, I don't see anything obvious we're doing wrong.  I'll try to reproduce the issue outside of crafty, in case it's just some canvas bug when you set a transform matrix.

[2014-02-03 16:05] starwed commented on #704
@kevinsimper  Thanks!  Just need to update the download link text.  :)

(Oh, guess I should say that I checked `bower install crafty` and it seems to work fine.  So I didn't mess anything up this time!)

[2014-02-03 18:02] starwed commented on #711
Hmm, possibly related is [this report](https://groups.google.com/forum/?fromgroups#!topic/craftyjs/h5MHTMsQcAI).

[2014-02-03 18:02] starwed commented on #711
I'm a bit confused why something like this would _start_ appearing in 0.6.2 -- I don't think we even changed the canvas drawing code?

I guess I'll do some sort of bisection to figure out where the problem was introduced.

[2014-02-03 18:30] starwed commented on #711
Ok, bisection indicates that it's from [this commit](https://github.com/starwed/Crafty/commit/0ad5c872ba1166533f3e4d17872982a4933c1b5b).

Nothing there directly touches the drawing code -- but notably, Furniman calls `centerOn`, which _is_ affected.  So like the problems with `zoom`, I'd guess it's something about viewports coordinates.

[2014-02-03 18:37] starwed commented on #711
Yup, before that commit the viewport coordinates are integers in the testcase, afterwards they're fractional.

Presumably this is the problem with the `zoom` function, too.  When the viewport transformation offsets our pixels from "real" pixels some sort of error creeps in.

[2014-02-03 18:51] sbyrnes321 opened #717 "Crafty.viewport.reset() does not pan back to 0. Should it?"
The documentation implies that if you pan the viewport (e.g. `Crafty.viewport.x += 100`), then running `Crafty.viewport.reset()` should undo that by panning back. But that is not what happens. It does not pan back.

http://jsfiddle.net/T9Mp9/ (using [Crafty 0.6.2](https://github.com/craftyjs/Crafty/releases/tag/0.6.2) )

Is this unclear documentation, or is it a code error?

[2014-02-03 18:54] starwed commented on #717
I think it probably should.  (I don't think I actually changed the behavior in [this commit](https://github.com/starwed/Crafty/commit/0ad5c872ba1166533f3e4d17872982a4933c1b5b), though -- I think the old behavior was also to stop existing pans but not reset the position?)

[2014-02-03 19:55] starwed commented on #711
Ok, so we can half fix this: clearing the canvas area _after_ clipping to it fixes the problem for me in Chrome.

Unfortunately, Firefox behavior here seems broken.  [Here](http://jsfiddle.net/VAXrL/1059/) is a jsfiddle that reproduces the issue.  I'm not really sure how we can work round this when the canvas is zoomed in.

However, we can at least round the actual viewport coordinates to integers

[2014-02-04 05:41] mucaho commented on #714
Change docs of Collision component to indicate that both parties of a collision must have the Collision Component added in order for the SAT detection to work.

Abusing your issue :)

[2014-02-04 08:39] danbruegge commented on #709
What has changed?

[2014-02-05 02:14] #714 closed, assigned to nobody

[2014-02-05 09:10] kevinsimper commented on #715
We should use something else than Jekyll and just generate the full html by ourself.

The problem is now that people do not have jekyll on their computer now, because that would be the easy solution right now, but that is Ruby and would just complicated it even further with another language and dependency.

But the solution would be to still compile html files, but have a local template and one fo

[2014-02-05 13:11] mucaho commented on #452
It is possible to get notified when the DOM changes:
- [Mutation Events](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Mutation_events) have best cross-browser support, but terribad performance (DOM Changes up to 7x times more costly)
- [Mutation Observers](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) are supported only by the newest browsers, but have good perfor

[2014-02-05 13:27] mucaho commented on #452
Are there other scenarios where the DOM could change by a 3rd party without the user's knowledge about it? In that case we could listen to mutations and trigger a reload accordingly.

[2014-02-06 03:42] mucaho opened #722 "Collision hitbox - wrong coordinates - Crafty.e().clone"
The issue was originally posted on the [forum](https://groups.google.com/forum/#!topic/craftyjs/8-e5HKiHkJg).

I tracked the bug down, here is the scenario:
- Create an entity with Collision component and place the entity somewhere (x != 0, y != 0)
- Clone the entity; here is what happens:
  - All of the original enitity's components get added to the cloned entity
  - All of the copy-by-value prop

[2014-02-06 03:52] mucaho commented on #722
The easiest way to fix this is to check for a special case inside the `clone` method: call `.collision()` at the end of the method, if the `Collision` component was copied.
Is this the way to go or is there a more elegant way?

[2014-02-06 13:56] mucaho commented on #722
Also the cloned entity does not get drawn until it's marked dirty, so `clone` should `trigger("Invalidate")`

[2014-02-06 22:21] starwed commented on #722
I'm guessing the problem here has to do with our use of getters/setters.  That is, normally when you set the position of an object you do so with `e.x=10`, and the setter for `.x` triggers all the stuff that needs to happen when the position changes.  (Such as moving the collision hitbox.)

Presumably when we clone, that doesn't happen?  Instead the `_x` property gets read by the clone function an

[2014-02-07 07:31] mucaho commented on #722
Yes, I am [positive](http://jsfiddle.net/AqU7E/3/).

Take a look again at the last paragraph in my first post. Let me explain again:
- In the general case the `clone()` method works. The setters and getters are poperly set up and the "Change" event is fired correctly
- The problem is specific to the `Collision` component: it's how the `Collision.init` is implemented
- The init method attaches the

[2014-02-07 13:27] starwed commented on #722
Ah, odd -- I'd consider this particular problem more an error in "DOM" than in clone, then.  Canvas elements get drawn properly, because the component takes care of things in init.  (It works fine if you change DOM to Canvas in your example.)   "Color" should also trigger an invalidate event on being added.

[2014-02-07 13:28] starwed commented on #722
Right, but that wouldn't matter if changing the position triggered the events it normally does.   It starts at (0,0) just like the original entity, and Collision works fine in that case.

The setters/getters might exist, but they're not used by `clone` when it runs through setting properties.

_e:_ Or if it does, it probably runs through the private versions first.

[2014-02-07 14:08] starwed commented on #722
OK, [according to MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty?redirectlocale=en-US&redirectslug=JavaScript%2FReference%2FGlobal_Objects%2FObject%2FdefineProperty) there's an enumerable option for `defineProperty`:

We don't set the option, so I think it'll be false for us, and therefore the setter/getters like `.x` won't show up in th

[2014-02-07 17:13] mucaho commented on #722
Look at [this JSFiddle](http://jsfiddle.net/KA2Cm/7/)  - be sure to have the console open.
The comps and props print loop is copy pasted from the `clone` method. All properties get set at the clone (including `_x` and `x`), but **no** events get triggered (WTF?!?)
Uncomment last line and you will see an event popping.

[2014-02-07 17:16] starwed commented on #722
@mucaho  Fiddle link is broken, so total speculation:  if `_x` is set before `x` then the event won't fire.  Crafty would see that the property already has the target value, and so return early.

[2014-02-07 17:18] mucaho commented on #722
Fixed link.

Oh man nice catch. So what do we do about it?

[2014-02-07 17:29] starwed commented on #722
We should blacklist the `_x` type properties somehow.  We could always explicitly check for them in clone, I guess.

Maybe there's some defineProperty trickery we could use?  I'm kind of unclear of what it means for a property to be enumerable, but maybe that option would let us blacklist them in a more consistent way?

[2014-02-07 17:33] starwed commented on #722
Yeah, doing something [like this](http://jsfiddle.net/KA2Cm/8/) seems to work?

We could just do that for all the properties we define setter/getters for... **if** it works cross-browser.

[2014-02-07 17:33] mucaho commented on #722
It _should_ work that way yes. But the problem is we fallback to `__defineGetter__` and `__defineSetter__` so we can not rely on deterministically hiding the properties using the **enumerable** flag across every browser.

[2014-02-07 17:38] mucaho commented on #722
Btw on the matter of providing fallbacks for getters & setters: Since we dropped compatibility with IE8 we should be able to drop **all** fallbacks since every browser now supports [Object.defineProperty()](http://kangax.github.io/es5-compat-table/#Object.defineProperty), right?

[2014-02-07 17:45] mucaho commented on #722
Look at our getter/setter implementation in [2D.js](https://github.com/craftyjs/Crafty/blob/develop/src/2D.js#L344):

[code]

As you can see we actually use the deprecated `__defineGetter__ & __defineSetter__` in the general case. Is this because of performance reasons?

[2014-02-07 17:52] mucaho commented on #722
Look at the [JSPerf comparison](http://jsperf.com/object-defineproperty-vs-definegetter-vs-normal). If I read the diagram correctly, the performance of `__defineGetter__ & __defineSetter__` vs `Object.defineProperty` is roughly equally bad

[2014-02-07 18:02] mucaho commented on #452
@starwed Can we close this issue?
Since events have unacceptable performance costs and observers are not supported cross-browser we do not have a meaningful way to detect DOM changes. Hence the user should manually call viewport.reload.

[2014-02-07 19:10] starwed commented on #452
Well, we haven't resolved it, and if someone came up with a clever enough method I'd want to land it -- so it's not a WONTFIX in principle.

Plus, it might be useful for someone who encounters the same issue!

[2014-02-07 19:30] sbyrnes321 commented on #452
Sorry for the stupid question: We want to avoid checking the DOM (e.g. calling `Crafty.stage.elem.getBoundingClientRect()`) each frame or each mouse-event, because that might lead to performance problems -- is that correct?

[2014-02-07 19:31] starwed commented on #722
Apparently defineProperty wasn't available in Firefox 3.6, so I'm guessing it's for now meaningless compatibility reasons.  We should switch to defineProperty if there's no performance difference.

(Since it is (a) deprecated, and (b) adds a bunch of extra code.)

[2014-02-07 19:35] starwed commented on #452
Yes, it would have some performance impact and wouldn't actually be useful for most games.

I haven't checked how much of an impact it would have, though.  And maybe we could let folk opt-in to the check.

[2014-02-07 23:01] starwed commented on #722
Ok, looks like using defineProperty works ok in recent Firefox, Chrome, and Safari.   I patched crafty and [it enumerates the properties correctly](http://jsfiddle.net/KA2Cm/9/).

[2014-02-07 23:03] starwed commented on #722
[Also fixes](http://jsfiddle.net/AqU7E/4/) the earlier red/green square example.  I'll submit a PR in a sec.

[2014-02-08 12:39] mucaho opened #729 "2D Raycast"
Feature request from [forum](https://groups.google.com/forum/#!topic/craftyjs/Lyb2FsGyIU4)

[2014-02-09 06:02] mucaho commented on #722
#728 also fixes this issue.
See [working collision hitbox](http://jsfiddle.net/22Qyf/11/) - uses the crafty.js file from #728

[2014-02-09 14:39] grozen commented on #147
@starwed can we consider this issue closed? This bug was actually what caused me to introduce the event-based hit detection, following your sage advice.

Of course the problem persists if you keep using the old style `OnHit`, but using events instead solves the problem, as I demonstrated in the fiddle I linked to in my pull request.

[2014-02-12 22:00] pinicarus opened #732 "Incorrect main file path in bower.json"
The bower.json file for release 0.6.2 has the main file set to "crafty.js", but the file is actually located in "dist/crafty.js". This makes it difficult to interact with e.g. grunt tasks.

Can you please consider fixing this and republishing ?
Thanks.

[2014-02-12 22:02] starwed commented on #732
I think I'd rather simply point bower to a separate repo that exists just for that purpose.

Publication data shouldn't be so inextricably tied up with an actual release, and this is like the third or fourth time some issue like this has come up.  Since I don't personally use bower at all, it's hard for me to know when it's actually working or not, and it seems impossible to test in the actual dev

[2014-02-13 16:46] #722 closed, assigned to nobody

[2014-02-14 12:59] mucaho commented on #683
So the PR got merged. Are there additional PR's that will follow-up, or can we close this?

[2014-02-14 13:01] mucaho commented on #581
@starwed and @sorenbs have owner rights now. They can add the webhook.

If either of you two (potomak/KenanY) feel up for it, you can go ahead and start coding :)

[2014-02-14 13:38] kevinsimper commented on #581
@mucaho Yes, that is a start, but the test has to be converted from QUnit to either Mocha and Tape before we can use Testling. (sorenbs has been inactive for a long time unfortunatly).

[2014-02-14 13:51] mucaho commented on #581
@kevinsimper Can't we use the [Qunit TAP plugin](https://github.com/twada/qunit-tap) as suggested by KenanY? No need to convert any test, just some preprocessing/postprocessing, right?

[2014-02-14 16:20] #683 closed, assigned to nobody

[2014-02-21 13:51] kevinsimper opened #737 "Component Image to use background-size"
The Image component should use the background-size css rule so that it respects the width and height set on the entity, right now it ignores them which confuses a lot of people.

http://stackoverflow.com/questions/21319744/craftyjs-w-and-h-attributes-dont-work-on-images

[2014-02-25 18:17] kevinsimper opened #738 "Update .attr docs"
Right now the docs for `.attr` does not say anything about that you can also use it to get values.

But it should say that you should use the direct way instead.

[code]

Somebody in the forum was confused about it:
https://groups.google.com/forum/#!topic/craftyjs/ChukZ7SvG40

[2014-02-26 14:55] mucaho opened #739 "Improve documentation for onHit"
There have been couple of issues where people misinterpret the `onHit` functionality. Newest one in the [forum](https://groups.google.com/forum/#!topic/craftyjs/C7PwLOKlgqA). Also #566

Improve docs so they mention that the **hit callback** of `onHit` will be called **every frame the collision is active**.

[2014-02-26 15:58] starwed commented on #739
We landed a [pretty big change](https://github.com/craftyjs/Crafty/pull/699) to onHit recently; that might make this particular type of problem a thing of the past?  There are now proper "HitOn" and "HitOff" events that only trigger with an actual change.

90% of the time when folk have issues with onHit they should just be using `hit()`, though.  I'm not really sure what's so attractive about onH

[2014-02-26 22:01] mucaho commented on #739
The `onHit` per se wasn't changed at all if I understand the code correctly. I had the same experience with `onHit` as other folks: _Oh cool there is this method `onHit` which does something automatically for me. Let's just use it over `hit` because it's simpler._

[2014-03-02 12:01] mucaho commented on #712
@mpetrovic was working on [layers](https://github.com/mpetrovic/Crafty/tree/layers). What's the status of that?

[2014-03-02 13:00] mucaho commented on #729
@grozen you are our collision expert :) do you have any additional ideas?

[2014-03-02 15:14] grozen commented on #729
@mucaho I'd hardly say that as I actually had very little to do with the actual collision detection algorithm. That being said, this sounds like a great idea if you or someone else are up to it.

Assuming this ends up as a new sort of component, it would be very simple to reuse the collision events that became available as part of #699, though obviously it would be prudent to define this as a new

[2014-03-02 16:20] mpetrovic commented on #712
Stalled. I haven't done any work on it in a long time. If someone wants to
pick up the reins, you can find it here:
https://github.com/mpetrovic/Crafty/tree/layers

On Sun, Mar 2, 2014 at 7:01 AM, mucaho notifications@github.com wrote:

[2014-03-02 22:12] mucaho commented on #729
Ah ok, I thought you were involved in writing the spatial hashmap.

I took the painful (but also performant) approach by stepping through the spatial grid sections iteratively. A preliminary version can be found on my [raycast branch](https://github.com/mucaho/Crafty/tree/raycast). This is entirely based on [this tutorial](http://www.flipcode.com/archives/Raytracing_Topics_Techniques-Part_4_Spatia

[2014-03-03 19:25] mucaho opened #744 "Differences between transform implementations"
`Crafty.DrawManager.renderCanvas()` uses [this line](https://github.com/craftyjs/Crafty/blob/develop/src/drawing.js#L533) to set the transform on the canvas' context:

[code]

However,  `DebugLayer.renderScene()` uses [this line](https://github.com/craftyjs/Crafty/blob/develop/src/DebugLayer.js#L359) to set te transform on the canvas' context:

[code]

Additionaly `Crafty.DrawManager.renderDom()`

[2014-03-04 16:34] kevinsimper commented on #687
I got interested in webgl and tried mozilla webgl getting started guide. I was a little overwhelm how low-level webgl feels with shaders and such.

https://developer.mozilla.org/en-US/docs/Web/WebGL/Getting_started_with_WebGL

Would it be an idea to use three.js and then say that you have to include three.js if you want to use WebGL?

They seem to have conquered webgl pretty well :)

[2014-03-04 17:30] kevzettler commented on #687
I think using three.js is a good idea. Its never a good move to reinvent the wheel.

[2014-03-04 19:58] starwed commented on #687
Well, I've actually had almost everything we need working for about a month (taking existing programs and switching Canvas to WebGL seems to go ok).   I just haven't had the time to tackle that last 10%...   (If anyone wants to fork my repo, go for it!  :) )

I think this is a case where a better fitting wheel is worth it.  Though if someone wants to write a Crafty compatible wrapper around three.

[2014-03-05 21:38] #738 closed, assigned to nobody

[2014-03-05 22:43] #739 closed, assigned to nobody

[2014-03-05 22:51] starwed commented on #744
Looks like the DebugLayer is simply incorrect, in addition to not rounding -- that should be fixed.

Should the DOM renderer use rounded pixels?  I guess it might as well, for consistency.  In fact, we could add a helper function to the viewport, since currently they all use the same calculation.  (This wasn't true in the past, and I guess might not be true in a webgl renderer, so maybe it's not w

[2014-03-06 01:22] mucaho opened #745 "Improve Crafty.math.Vector2D.getNormal"
add documentation that the returned vector is
- perpendicular to this vector OR
- perpendicular to the line between this and other vector

split the method into `perpendicular` & `getNormal`
- avoid confusion with `getNormal` of Vector3D #735

discussed a bit in #734

[2014-03-06 16:36] mucaho opened #746 "Improve performance of methods that return new objects"
Improve the performance of `2D.pos()`, `2D.mbr()` and similar methods to allow passing an optional argument in which the result will be stored.
- [x] `2D.pos(), 2D.mbr()`
- [x] `Crafty.math.Matrix2D`
- [x] `Crafty.map.key`

[2014-03-08 11:27] mucaho opened #747 "Improve Crafty.load documentation"
Add full example for loading a sprite (see [steve's forum post](https://groups.google.com/forum/#!msg/craftyjs/ijhWc4cIO98/NO_naDlFy6QJ)) to the [Crafty.loader](http://craftyjs.com/api/Crafty-loader.html) documentation.

[Source](https://groups.google.com/d/msg/craftyjs/Rh2I2FDiuHc/bY69x19q0LMJ)

[2014-03-08 14:47] cawoodm opened #751 "More realistic Gravity"
The Gravity compontent in crafty seems needlessly crude and unrealistic.
1. True gravity is a force which works on your velocity but this "gravity" works directly on `this._y`. This means, no matter what speed you are moving up gravity instantaneously starts moving you down instead of slowing you down.
2. True gravity works from below. My tests have shown my player will stick to platforms from bel

[2014-03-08 14:54] mucaho commented on #751
see #708

[2014-03-08 15:48] mucaho opened #752 "Improve Component documentation"
A recent [forum post](https://groups.google.com/forum/#!topic/craftyjs/LujX5Fqocds) indicates confusion about the component - entity system. I had my troubles too, until I wrapped my head around it.

As a start, I propose we add documentation to `Crafty.c`:

[2014-03-08 16:15] cawoodm commented on #751
Good to see someone is working on this thanks! Is there a URL I could use for crafty.js which includes this pull request?

[2014-03-08 16:54] mucaho commented on #751
You can clone the `develop` branch and merge commits from [the motion branch of my repository](https://github.com/mucaho/Crafty/tree/refactor_twoway_gravity) to get the latest version of crafty with Motion enabled.
Alternatively, you can download an already built version of Crafty-v0.6.1+ with Motion enabled [from this link](https://app.box.com/s/viwi3tz4s6opcn07l5up).
Keep in mind this is not a f

[2014-03-09 01:03] sbyrnes321 opened #753 "2D component initialization should not overwrite pre-existing properties"
I think the following code should work correctly;

[code]

or

[code]

Right now neither would work because 2D component initialization overwrites `this._x` and similar properties with 0.

Is it possible to fix this? (Sorry I haven't checked yet myself.)

This issue has come up several times -- see #546 and https://groups.google.com/forum/#!topic/craftyjs/WKyxkURMJVo for example

[2014-03-09 01:37] mucaho commented on #753
There are two possibilities I can think of:
- remove [2D's direct object property values](https://github.com/craftyjs/Crafty/blob/develop/src/2D.js#L78-L171) and do `this._x = this._x || 0` for all properties in 2D's `init` method
- `requires` uses `addComponent` under the hood, which uses `extend` under the hood: `extend` copies all object keys and their values from the component to the entity ->

[2014-03-09 02:07] sbyrnes321 commented on #753
Well, you would do `this._x = this.x || this._x || 0` probably, because if you set `this.x` beforehand, it's not a setter yet. But sure, something like that would probably work. :-)

[2014-03-11 17:13] ashes999 commented on #687
I'm definitely interested in this (WebGL support).

[2014-03-12 18:05] starwed commented on #687
Hopefully I'll be able to get a PR for this ready next week, since I have some time off.  :)

[2014-03-12 18:09] #744 closed, assigned to nobody

[2014-03-13 22:23] kevinsimper commented on #753
This seems like the best solution

I tried something like it in #713 but it was not that great of a idea, since there were a lof of exeptions and some depend on overwritting properties (mostly functions) in a kind of OOP.

[2014-03-14 23:11] mucaho opened #754 "viewport.follow scaling issue"
Possible bug reported in [forum post](https://groups.google.com/d/msg/craftyjs/kHu5MAv19BM/rLlpaM6YCiQJ)

I haven't investigated yet. Is this a bug or intended behaviour?

[2014-03-16 19:05] #752 closed, assigned to nobody

[2014-03-16 22:12] #747 closed, assigned to nobody

[2014-03-18 00:12] starwed commented on #687
Ok, I grappled with what I'd written so far, and emerged with something that's a [lot more coherent](https://github.com/starwed/Crafty/tree/webgl-sane).  The big remaining thing to implement is alpha transparency (and flipX/Y, I guess.)    Then I'd like to land it in the develop branch, though it should probably still be considered experimental.  :)

[2014-03-18 00:14] starwed commented on #687
One thing I'm not sure about: where to keep the vertex/shader sourcecode -- with the relevant components, or in a separate file?

[2014-03-18 01:19] ashes999 commented on #687
I don't know if this helps. I'm grappling with this myself.

You should follow the S in SOLID: Single Responsibility. Classes (or components, I suppose) should have a single responsibility, no more.

I personally like splitting one class per file, and Crafty games start to get hard to manage when you have 5-6 entities or components defined in a single file.

The webgl file is also almost 1000 line

[2014-03-18 10:16] mucaho commented on #687
@starwed
You have put a lot of effort in there, nice job.

Does your current implementation have a program switch for each entity (and thus each batch consists of one entity only)? I think your intention was to have a program switch if the vertex/fragment shader changes - see [WebGL Draw call](https://github.com/starwed/Crafty/blob/webgl-sane/src/webgl.js#L785-L793). But you create a program in ea

[2014-03-18 13:01] mucaho commented on #687
If Crafty is going to use an external WebGL renderer, I would suggest [pixi.js](http://www.pixijs.com/) instead, which is built for 2D WebGL rendering.

If we are going down this path then I additionally suggest adding bindings to other frameworks:
- [PhysicsJS](http://wellcaffeinated.net/PhysicsJS/) for physics
- [PouchDB](http://pouchdb.com/) for storage
- etc...

[2014-03-18 18:17] starwed commented on #687
Nah, the program is cached by the name passed in to establishShader.  The call to [initProgram](https://github.com/starwed/Crafty/blob/webgl-sane/src/webgl.js#L614)  will only create it if it doesn't already exist; the entities are just storing a reference.  (There are a lot of method names that need to be updated to reflect what's going on now!)

Sprite using different spritesheets will have sepa

[2014-03-18 18:24] starwed commented on #687
Hmm, on second thought I'm not sure whether a particular buffer on the GPU will persist through other batches?  Anyway, it's definitely something to investigate.

[2014-03-18 20:31] starwed commented on #687
I ended up including it inline using the `brfs` plugin, which browserify supports as a transform.

Regardless of whether it should or should not be kept with the components that use it, javascript simply doesn't support multiline strings in a nice way, which makes it a maintainability nightmare.  Storing each shader in it's own file, and then inlining it, is much nicer!  :D

[2014-03-18 20:57] starwed commented on #687
Ok, the alpha property is now respected, but I haven't implemented the z-sorting yet.  (This'll be kind of easy to do in a lazy way, but as mentioned above there are some optimizations we should really do here.)

Also, realized that viewport zoom isn't implemented yet, though that shouldn't be too bad.

[2014-03-18 21:08] mucaho commented on #687
Great!

It's not optimal, but it's fine. If you follow the guideline to have all sprites in one spritesheet and only use Sprite components (or with Color components in a different `z` level) you will get the best possible performance.

If you don't modify the buffer on the GPU, the data will remain in the buffer on the GPU. You have different buffers for different programs, so I don't see the prob

[2014-03-18 22:23] pawurb opened #757 "Crafty.audio sound looping failing randomly"
I am just finishing a work on a game using Crafty: http://siorb.dobreziele.pl/

I came across an issue with looping sounds. Initial launch of 'gameplay' scene works all fine. After coming back from 'gameOver' to 'gameplay' scene, background soundtrack which is infinitely looped 6sec. (mp3 and ogg file) plays only once and then stops. I execute it like this:
        `Crafty.audio.play('gameplay', -

[2014-03-19 22:39] starwed commented on #687
Added simple, non-optimized z-sorting for proper transparency.

Remaining to implement: the flipX and flipY properties.

[2014-03-19 22:52] starwed commented on #687
Realised after a couple of minutes that these were easy to do, and so implemented them.  :)

I think the webgl branch now supports every feature that sprite and tint need.

[2014-03-19 22:57] kev-omniata-com commented on #687
:+1:

[2014-03-20 01:54] ashes999 commented on #687
When do you think it's ready for testing?

I have a small game and wouldn't mind seeing what breaks.

[2014-03-20 09:41] mucaho commented on #687
~~So in the production version of `crafty.js` the browser has to load these seperate shader files or are they inside `crafty.js` & `crafty-min.js`?~~
Nvm, `readFileSync` is a feature of node, so they have to be inside  `crafty.js` & `crafty-min.js` :)

[2014-03-20 10:13] mucaho commented on #687
**z-sorting:**
- You do the z-sorting on the CPU, and the 'king buffer' gets filled with lowest z entities first, right?
  IIRC, the first entities in the buffer will be drawn before the last entities in the buffer.
- You calculate the correct z-values in the shader right? You have DEPTH_TEST disabled though.
- That means despite the DEPTH_TEST is disabled, the entities will correctly overlap each

[2014-03-20 18:15] mucaho commented on #687
I have some more thoughts on the manner:

**z-sorting:**
What about removing the non-optimized z-sorting on the CPU completely and letting the GPU (Depth Test) take care of it?
- remove non-optimized z-sorting
  - add layers from mpetrovic's layer branch to group entities in layers (so sprite entities can go into 'sprite' layer , color entities can go into 'color' layer -> only 1 program switch re

[2014-03-22 15:26] starwed commented on #687
The issue (that you acknowledge) is that you can no longer use partial transparency.  The main goal here was to be a drop-in replacement for Canvas.  I could definitely see adding an option to trade-off some features for even better performance, but for now let's concentrate on that goal.

[2014-03-22 16:20] starwed commented on #687
I like the idea of trying to bunch 'static' entities at the beginning of the vertex buffer -- that makes a lot of sense.  Not sure the best way to approach this, though.

The last thing I need to implement for "correctness" (that I know of!) is to handle the creation/destruction of entities; as is, it would run out of buffer space if you cycle through a lot of them.  Seems like that and optimizing

[2014-03-22 18:43] kevinsimper commented on #576
They updated the Ludei application and improved the bug reporting, so I will give it a new shot :)

[2014-03-22 23:15] mucaho commented on #687
- We can always add that later (once this PR lands).
- I think even the proposed, naive algorithm should work wonders: if the set of entities doesnt change over 1 sec thats 1000ms/50msDelta = 20 full buffer copies saved.
- I have some more ideas on how to improve the algorithm:
  - When inserting entities in the buffer for the first time OR If dirtyIndex points to first element in buffer (all elem

[2014-03-22 23:34] heniotierra opened #761 "Delay bugged. :("
Hello! I noticed Delay has a problem, problem that was present prior to the modifications I made recently. In fact, I had noticed this problem some months ago, but did circumvent it with an ugly hack at the time. What happens is that the delay acts in a weird manner when there's more than one simultaneous delay set in the same entity, making the same callback be called twice (or thrice) when it sh

[2014-03-22 23:37] mucaho commented on #687
Could you elaborate, please? Isn't the buffer space adjusted to the length of the data you upload (and you overwrite the whole buffer every frame) ?

[2014-03-22 23:48] mucaho commented on #761
I just made another PR adding some tests #760 , so I could include the fix in there, once we find the bug :)

Good that you catched that: the current testcases do not test setting up multiple delays, I will add those testcases now.

One thing that boggled my mind is that `Delay` uses property enumeration on the `_delays` array instead of array iteration. Initially I thought it doesn't matter, as t

[2014-03-23 00:24] mucaho commented on #761
I have added additional testcases. If there is a bug then I think it's local to the cancelDelay method:

[code]

First of all index will be randomly selected in the for loop between `0` and `this._delays.length - 1`.
When you splice an element out of the array, any old indices won't be valid any more (indices coming after the spliced element have to be shifted `1` to the left). So I am assuming th

[2014-03-23 00:33] mucaho commented on #761
Yeah, that was the issue. Adding the fix to #760 .

[2014-03-23 00:47] mucaho commented on #761
I merged #760, so I will assume the bug is fixed. If you encounter another bug related to `Delay`, just reopen the issue.

[2014-03-23 00:50] #745 closed, assigned to nobody

[2014-03-23 01:23] heniotierra commented on #761
Unfortunately that didn't solve the bug I refer to. Here's the fiddle: http://jsfiddle.net/Dj48n/9/. One alert should appear at the end.

Shall I do a PR with my fix?

[2014-03-23 01:27] mucaho commented on #761
Sure, that would be great!